<div class="text-4xl text-center mt-10 text-gold">Kapcsolat</div>
<main class="text-center mb-20 w-full px-4">
  <span class="text-xl mt-10">+36-70-398-4354</span>
  <p class="w-full max-w-md mx-auto px-4 sm:px-6 text-center mt-3 mb-10">
    Telefon, Viber, Whatsapp, iMessage,
    <a
      href="https://www.facebook.com/ruppertendrelucien"
      target="_blank"
      class="underline"
      >Messenger</a
    >
  </p>
  <span class="text-xl"
    ><a
      href="https://csudahely.hu/"
      target="_blank"
      rel="noopener noreferrer"
      class="underline"
      >Csudahely</a
    >, Dunabogdány, Fácános utca 157.
  </span>
  <div class="map-container w-full max-w-4xl mx-auto px-4 sm:px-6">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2680.29244247545!2d19.007896576950085!3d47.79516657120781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476a81048662a799%3A0xbebd019e51c58855!2sCsudahely!5e0!3m2!1shu!2shu!4v1746623711094!5m2!1shu!2shu"
      style="border: 0; width: 100%; height: 450px"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <span class="text-xl">Budapest XIV. kerület, Hungária krt. 37. fszt. 2.</span>
  <div class="map-container w-full max-w-4xl mx-auto px-4 sm:px-6">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2695.30760537216!2d19.105059576936615!3d47.5034003711805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dc99420aaea1%3A0x60fefba7dbaa1fc3!2sBudapest%2C%20Hung%C3%A1ria%20krt.%2037%2C%201143!5e0!3m2!1shu!2shu!4v1748892328369!5m2!1shu!2shu"
      width="100%"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</main>
