:host {
  @apply flex flex-col items-center bg-zinc-900;
  min-height: calc(100vh - 60px);
  color: grey;
}

.apply {
  line-height: 35px;
}

span {
  color: var(--primary);
  @apply text-xl mt-10;
}

p {
  @apply text-center mt-3 mb-10;
}

.title {
  @apply mt-10;
}

main {
  @apply flex flex-col items-center;
}
