<div class="text-4xl text-center title">Kapcsolat</div>
<main class="text-center mb-20">
  <span>+36-70-398-4354</span>
  <p>Telefon, Viber, Whatsapp, iMessage, <a
    href="https://www.facebook.com/ruppertendrelucien"
    target="_blank"
    class="text-teal-600 mb-10"
    >Messenger</a
  ></p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2680.29244247545!2d19.007896576950085!3d47.79516657120781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476a81048662a799%3A0xbebd019e51c58855!2sCsudahely!5e0!3m2!1shu!2shu!4v1746623711094!5m2!1shu!2shu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</main>
