span {
  display: block;
  margin-bottom: 16px;
}

p {
  margin-top: 5px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  display: block;
}

.highlight {
  color: #d4af37;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 32px;
}

button {
  background-color: #d4af37;
  color: #18181b;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #c5a028;
}
