<span class="text-4xl mt-10 mb-5 text-center text-gold block"
  >Simogató fejmasszázs</span
>
<main class="text-justify mb-24">
  <img
    src="assets/head-touch.jpg"
    alt="Simogató Fejmasszázs"
    class="text-center mt-10 rounded-md w-[400px] mx-auto mb-16"
  />
  <span>
    A Simogató fejmasszázs nem csak egy hétköznapi fejmasszázs.
    <br /><br />
    Egy egyedi fejlesztésű, 50 mozzanatból álló, különleges rituálé. Egy
    meditatív, érzékeny, finom folyamat, ahol a fejed, a nyakad, a vállaid, a
    hajad és a fejbőr kényeztető érintést, teljes, szerető figyelmet kapnak.
    <br /><br />
    A módszert Lancsin Zsuzska Érintésterapeuta fejlesztette ki, különböző (pl.
    indiai) fejmasszázs és Gyógyító Érintés elemeket tartalmaz.
  </span>

  <ul class="mt-5 ml-10 list-disc space-y-2">
    <li>A folyamat masszázságyon történik és egy órát vesz igénybe.</li>
    <li>Csupán a nyakadat és a vállaidat kell hozzá szabaddá tenned.</li>
    <li>
      A kezelés olajjal történik, amit a helyszínen utána le tudsz tisztítani
      magadról.
    </li>
  </ul>

  <div class="text-center mt-10">
    <button (click)="goToSessionsPage()">Jelentkezés</button>
  </div>
</main>
