:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #18181b;
  color: #9ca3af;
  min-height: 100vh;
  font-size: 1.125rem;
}

span {
  display: inline-block;
}

p {
  margin-top: 5px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  display: block;
}

.highlight {
  color: #d4af37;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 32px;
  display: inline-block;
}

button {
  background-color: #a18e58;
  color: white;
  padding: 0.5rem 2.5rem;
  font-weight: 300;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

button:hover {
  background-color: rgba(161, 142, 88, 0.8);
}
