:host {
  @apply flex flex-col items-center bg-white;
  min-height: calc(100vh - 60px);
}

.thumbnail {
  @apply cursor-pointer h-40 w-60 rounded-md mb-2;
}

.thumbnail-with-data {
  @apply flex flex-col items-center;
}

.container {
  @apply mt-10 w-2/3 flex flex-wrap gap-10 justify-center mb-20;
}

.title {
  color: var(--primary);
}
