<span class="text-4xl mb-10 mt-10 text-center title text-gold">Utam</span>

<main class="text-justify mb-5">
  <img src="../../../assets/lucien.jpg" class="w-96 rounded-sm" />
  Az évtizedek alatt kialakult mintám tulajdonképpen az, hogy tapasztalok,
  tanulok, a hatékonynak tűnő tudásokat megosztom, a működőképes alapelveket
  pedig beleolvasztom a saját szolgáltatásaimba, sokszor aztán valami újat
  létrehozva. Ezután pedig haladok tovább, és a ciklus ismétlődik.
  <br /><br />
  Számomra a megtapasztalás és tudásátadás egymásba fonódó spirálként mindig is
  középpontban állt. Íme az életem főbb állomásai ebből a szempontból:
</main>

<div class="timeline mb-10">
  <ul class="list-none pl-8 space-y-6">
    <li>
      <div class="font-semibold">
        <span class="text-gold">1991</span> Transzcendentális Meditáció
      </div>
      <p class="item-description">
        Az első "hivatalos" spirituális élményem, ahol szerintem egy "testkilépést" is megéltem. Ez egy nagyon intenzív, meghatározó, de ugyanakkor ijesztő
        megtapasztalás volt.
      </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">1991</span> Kommunikációval a siker felé
        tanfolyam
      </div>
      <p class="item-description">Egy nagyon hasznos és gyakorlatias képzés a kommunikáció 19 aspektusáról, amely megalapozta a segítői tevékenységemet és segített a kommunikációs készségeim fejlesztésében.</p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">1992</span> Dianetika alapképzés
      </div>
      <p class="item-description">Akkoriban kb. az egyetlen Magyarországon elérhető önismereti képzés volt ez, amely segített lefektetni az alapokat az egyéni regressziós technikák későbbi megtanulásához és elmélyítéséhez.</p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">1992</span> East Grinstead, Anglia - Tanulás/tanítás
        módszertan
      </div>
      <p class="item-description">Megtanultam egy olyan tanulási és tanítási módszertant, amely  képessé tett arra, hogy onnantól kezdve bármilyen elméleti vagy gyakorlati témát elsajátítsak, illetve a tudás átadása során rájöjjek, hogy  ha egy tanítványom a tanulás folyamatában elakadtal, az miért történt, és hogyezeken az elakadásokon át tudjam őket átsegíteni.</p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">1993</span> Megtartottam életem első (Kommunikációs) tanfolyamát!
      </div>
      <p class="item-description">Nagyon nagyon izgultam, de végül sikeres lett életem első, két napos workshopja, amelyet egyedül tartottam, ráadásul üzleti környezetben.</p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">1994</span> Testvérem halála
      </div>
      <p class="item-description">Egy esemény, mely örökké meghatároz, és mely után egy 6 órás (!) gyászfeldolgozó ülés következett, amelyről bátran állíthatom, hogy akkor "megmentette az életemet". Ezt a technikát azóta is használom mások segítésére.</p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">1996-2001</span> Hollywood - Los Angeles; Manhattan - New York
      </div>
      <p class="item-description">
        5 évnyi önkéntesmunka és tanulás az Usában. Életem sok szempontból meghatározó időszaka, rengeteg személyiségfejlesztő kurzust végeztem el angolul és regressziós terápiában is részt vettem.</p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2003</span> Saját terápiás folyamat
      </div>
      <p class="item-description">Egy több alkalmas regressziós terápiás folyamat, amely segített mélyebben megérteni önmagamat és a múltamat. Ezen kívül pedig ez az a tapasztalás és maga a technika, amelyből aztán kifejlesztettem a saját, Érzelmi Oldás módszeremet, amellyel magunknak tudunk segíteni, terapeuta szükségessége nélkül.</p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2004</span> Coach Képzés - az Első Magyar Coaching Intézetnél
      </div>
      <p class="item-description">Egy átfogó képzés, amely során elsajátítottam a coaching alapelveit és technikáit, lehetővé téve számomra, hogy másokat támogassak a fejlődésükben. Később, aztán az üzleti életben való alkalmazás során egyértelművé vált, hogy ez engem nagyon nem érdekel.</p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2004</span> Prana nadi képzés
      </div>
      <p class="item-description">Egy energetikai rendszer, amely a test energiaáramlását segíti elő. A regressziós technikájuk adott ugyan egy-egy jó ötletet, de ezt a rendszert már semmilyen formában nem használom.</p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2005</span> Az Érzelmi Oldás 1.0-ás
        technikájának kifejlesztése
      </div>
      <p class="item-description"></p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2005</span> A Lucien del Mar név és blog
        megszületése
      </div>
      <p class="item-description"></p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2006</span> A Lét Öröme workshop megalkotása és
        szolgáltatása
      </div>
      <p class="item-description"></p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2007</span> A Lét Öröme workshop debütálása
        külföldön (Rodosz, Görögország)
      </div>
      <p class="item-description"></p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2010</span> San Diego, USA - - Vércsepp analízis képzés
      </div>
      <p class="item-description">Robert O. Young
        mikrobiológus</p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2011-2014</span>Vércsepp analízis szolgáltatás 5 országban
      </div>
      <p class="item-description">Szlovákia, Szlovénia, Csehország, Görögország, Magyarország</p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2011</span> Metabolic typing elsajátítása
      </div>
      <p class="item-description"></p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2011</span> A Táplálkozás-Beállítás
        társalapítása
      </div>
      <p class="item-description"></p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2011-2014</span> 4 országban a Vércsepp analízis
        szolgáltatása
      </div>
      <p class="item-description"></p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2014</span> Ayahusca sajátélmény
      </div>
      <p class="item-description"></p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2015</span> 5Ritmus sajátélmény, tábor
      </div>
      <p class="item-description"></p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2015</span> A Flow dance megalkotása
      </div>
      <p class="item-description"></p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2017</span> Az EWA anyagcsere típus meghatározás elsajátítása
      </div>
      <p class="item-description"></p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2018</span> Bufo sajátélmény
      </div>
      <p class="item-description"></p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2018-2022</span> Your Health Academy Holisztikus
        Egészség akadémia szolgáltatásainak fejlesztése. Az első hely
      </div>
      <p class="item-description"></p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2023</span> Bodywork, 150 órányi sajátélmény
        folyamatok
      </div>
      <p class="item-description"></p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2024</span> Saját terápiás folyamat Csizi
        Andrással
      </div>
      <p class="item-description"></p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2024</span> Circling sajátélmény folyamat és
        képzés
      </div>
      <p class="item-description"></p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2025</span> Holistic Pulsing I.
      </div>
      <p class="item-description"></p>
    </li>
  </ul>
</div>
