<span class="text-4xl mb-10 mt-10 text-center title text-gold">Utam</span>

<main class="text-justify mb-5">
  <img src="../../../assets/lucien.jpg" class="w-96 rounded-sm" />
  Az évtizedek során kialakult mintám tulajdonképpen az, hogy tapasztalok,
  tanulok, a hatékonynak tűnő tudásokat megosztom, a működőképes alapelveket
  pedig beleolvasztom a saját szolgáltatásaimba, sokszor aztán valami újat
  létrehozva. Ezután pedig haladok tovább, és a ciklus ismétlődik.
  <br /><br />
  Számomra a megtapasztalás és tudásátadás egymásba fonódó spirálként mindig is
  középpontban állt. Íme az életem főbb állomásai ebből a szempontból:
</main>

<div class="timeline mb-10">
  <ul class="list-none pl-8 space-y-6">
    <li>
      <div class="font-semibold">
        <span class="text-gold">1991</span> Transzcendentális Meditáció
      </div>
      <p class="item-description">
        Az első "hivatalos" spirituális élményem, ahol szerintem egy
        "testkilépést" is megéltem. Ez egy nagyon intenzív, meghatározó, de
        ugyanakkor ijesztő megtapasztalás volt.
      </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">1991</span> Kommunikációval a siker felé
        tanfolyam
      </div>
      <p class="item-description">
        Egy nagyon hasznos és gyakorlatias képzés a kommunikáció 19
        aspektusáról, amely megalapozta a segítői tevékenységemet és segített a
        kommunikációs készségeim fejlesztésében.
      </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">1992</span> Dianetika alapképzés
      </div>
      <p class="item-description">
        Akkoriban kb. az egyetlen Magyarországon elérhető önismereti képzés volt
        ez, amely segített lefektetni az alapokat az egyéni regressziós
        technikák későbbi megtanulásához és elmélyítéséhez.
      </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">1992</span> East Grinstead, Anglia -
        Tanulás/tanítás módszertan
      </div>
      <p class="item-description">
        Megtanultam egy olyan tanulási és tanítási módszertant, amely képessé
        tett arra, hogy onnantól kezdve bármilyen elméleti vagy gyakorlati témát
        elsajátítsak, illetve a tudás átadása során rájöjjek, hogy ha egy
        tanítványom a tanulás folyamatában elakadtal, az miért történt, és
        hogyezeken az elakadásokon át tudjam őket átsegíteni.
      </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">1993</span> Megtartottam életem első
        (Kommunikációs) tanfolyamát!
      </div>
      <p class="item-description">
        Nagyon nagyon izgultam, de végül sikeres lett életem első, két napos
        workshopja, amelyet egyedül tartottam, ráadásul üzleti környezetben.
      </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">1994</span> Testvérem halála
      </div>
      <p class="item-description">
        Egy esemény, mely örökké meghatároz, és mely után egy 6 órás (!)
        gyászfeldolgozó ülés következett, amelyről bátran állíthatom, hogy akkor
        "megmentette az életemet". Ezt a technikát azóta is használom mások
        segítésére.
      </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">1996-2001</span> Hollywood - Los Angeles;
        Manhattan - New York
      </div>
      <p class="item-description">
        5 évnyi önkéntesmunka és tanulás az Usában. Életem sok szempontból
        meghatározó időszaka, rengeteg személyiségfejlesztő kurzust végeztem el
        angolul és regressziós terápiában is részt vettem.
      </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2003</span> Saját terápiás folyamat
      </div>
      <p class="item-description">
        Egy több alkalmas regressziós terápiás folyamat, amely segített
        mélyebben megérteni önmagamat és a múltamat. Ezen kívül pedig ez az a
        tapasztalás és maga a technika, amelyből aztán kifejlesztettem a saját,
        Érzelmi Oldás módszeremet, amellyel magunknak tudunk segíteni, terapeuta
        szükségessége nélkül.
      </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2003</span> A Nap Idézete hírlevél elindítása
      </div>
      <p class="item-description">
        Magyarország első spirituális hírlevele, amelyet kb. 15 éven át, sok
        ezren élveztek és vártak minden nap. A feliratkozók minden hétköznap
        kaptak egy gondolatébresztő idézetet, amelyet vagy olvastam valahol,
        vagy például egy filmben hallottam. Két évvel később aztán én is
        elkezdtem idézeteket írni.
      </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2004</span> Coach Képzés - az Első Magyar
        Coaching Intézetnél
      </div>
      <p class="item-description">
        Egy átfogó képzés, amely során elsajátítottam a coaching alapelveit és
        technikáit, lehetővé téve számomra, hogy másokat támogassak a
        fejlődésükben. Később, aztán az üzleti életben való alkalmazás során
        egyértelművé vált, hogy ez engem nem igazán érdekel, mégsem az én
        világom.
      </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2004</span> Pránanadi képzés
      </div>
      <p class="item-description">
        Egy energetikai rendszer, amely a test energiaáramlását segíti elő. A
        regressziós technikájuk adott ugyan egy-egy jó ötletet, de ezt a
        rendszert már semmilyen formában nem használom.
      </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2004</span> Dzog chen gyakorlás
      </div>
      <p class="item-description">
        A dzog chen egy tibeti buddhista meditációs gyakorlat, amely a tudat
        természetének megértésére és a belső béke elérésére összpontosít.
        Hasonlít egy még Angliában elsajátított technikára, több száz órányit
        gyakoroltam életemben és rengeteget adott.
      </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2005</span> Az Érzelmi Oldás módszer első
        verziójának kifejlesztése
      </div>
      <p class="item-description">
        Életem talán egyik legfontosabb hozzájárulása másokhoz. Egy módszer,
        amellyel magunknak tudunk segíteni, és amelyet azóta is folyamatosan
        fejlesztek és finomítok. Korábban tanfolyamokon, a jelenben egyéni
        ülésekben adom át.
      </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2005</span> A Lucien del Mar név és blog
        megszületése
      </div>
      <p class="item-description">
        Az eredeti nevem Ruppert Endre Zoltán. A Lucien gyerekkori becenevem,
        egy barátomtól kaptam tizenévesen, mert hogy állítólag “olyan francia
        fejem volt.” Amikor 2005-ben elkezdtem írni, úgy éreztem, szükségem van
        egy alkotói névre, mert nem a személyem/nevem volt a lényeg, hanem ami
        rajtam keresztül megnyilvánult. A Lucien keresztnév adott volt,
        akkoriban sok Café del Mar zenét hallgattam, így állt hát össze Lucien
        del Mar név (amelyen végül azóta is alkotok). Aztán 2 év múlva rájöttem,
        hogy ez így egy értelmes szóösszetétel is spanyolul-franciául.
        Jelentése: a tenger csillogása/fénye. És ez ráadásul még illik is rám,
        hiszen lételemem a víz (folyó, tó, tenger, óceán, bármi jöhet)!
        <br /><br />
        A blogom ezen a néven indítottam azért, mert szerettem volna megosztani
        a tapasztalataimat és tudásomat másokkal. 2005 és 2015 között vezettem
        aktívan, azóta inkább videókat készítek.
      </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2006</span> Adyashanti tanításai és a saját "egység élményem"
      </div>
      <p class="item-description">
        Adyashanti egy amerikai spirituális tanító, aki a zen buddhizmus és a
        modern spiritualitás ötvözésével segít az embereknek a belső béke
        megtalálásában. Könyvének olvasás, "Az üresség tánca" egy olyan állapotba lökött, amelyet ugyan mindenféle önfényezés szándéka nélkül, de tényleg csak "egység élmény"-ként lehetne leírni. Hónapokig voltam ebben az állapotban, és alapvetően változtatott meg. Később aztán még egyszer belekerültem ebbe az állapotba, azóta ez kisimult bennem.
      </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2006</span> Subud közösség és a latihán
        gyakorlása
      </div>
      <p class="item-description">
        A subud egy underground spirituális közösség, amely a latihán (egyfajta
        megengedő, szabad mozgás és meditatív állapot) gyakorlatára épít. A
        latihán lehetővé teszi a résztvevők számára, hogy mélyebb kapcsolatba
        lépjenek önmagukkal és az univerzummal. A subud közösség tagjai
        rendszeresen találkoznak, hogy támogassák egymást a személyes
        fejlődésben.
      </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2006</span> A Lét Öröme workshop megalkotása és
        szolgáltatása
      </div>
      <p class="item-description">
        Egy egy napos workshop, amelyben összefoglaltam a legütősebb
        technikákat. A módszerek, amelyekkel saját magamon és kliensemmel
        pozitív tapasztalatokat szereztem hatékonyság és működőképesség
        szempontjából. Sok éven keresztül tartottam.
      </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2007</span> A Lét Öröme workshop debütálása
        külföldön (Rodosz, Görögország)
      </div>
      <p class="item-description">
        A Lét Öröme workshop egy nagyon kompakt programmá vált, amely a
        résztvevők számára lehetővé tette, hogy gyorsan és hatékonyan
        megtapasztalják minden átadott technikát. Ekkorra már sok országban
        olvastak, és lelkes szervezők segítették a tanfolyam külföldre vitelét,
        az egyik legemlékezetesebb Rodosz szigetén történt.
      </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2010</span> San Diego, USA - Vércsepp analízis
        és ph Csoda diéta képzés
      </div>
      <p class="item-description">
        Akkoriban az egyik legjobb barátom méhnyakrákban megbetegedett, és
        sajnos sem a hagyományos orvosi kezelések, sem pedig az én imádott
        tudati technikáim nem bizonyultak hatékonynak. Ekkor találkozott ő
        Vércsepp analízissel és a ph Csoda módszerével, amely végül
        hozzásegítette a gyógyuláshoz. Ez számomra olyan megdöbbentű erejű
        tanítás volt, amely megmutatta, hogy a testtel is foglalkoznunk kell, és
        rámuztatott, hogy mekkora erő van a bevitt tápanyagojban és a helyes
        táplálkozásban. Így kezdtem el tanulni ebben az irányban.
        <br /><br />
        A módszer kifejlesztője Robert O. Young mikrobiológus, aki akkor
        Californiában élt és dolgozott, ezért vettem egy mikroszkópot, kiutaztam
        hozzá és elvégeztem nála a képzést.
      </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2010-2011</span> Vércsepp analízis szolgáltatás
        5 országban
      </div>
      <p class="item-description">
        A Vércsepp analízis egy olyan módszer, amely lehetővé teszi a vércseppek mikroszkópos vizsgálatát, és segít azonosítani a szervezetben zajló folyamatokat a megfelelő étrend meghatározásához. A módszer népszerűsége miatt Magyarország mellett Szlovákiában, Szlovéniában, Csehországban és Görögországban is szolgáltattam.
      </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2011</span> Metabolic typing elsajátítása
      </div>
      <p class="item-description"> A Vércsepp elemzések során észleltem, hogy a klienseim étrendi igényei mennyire eltérőek, ezért tovább kerestem. A Metabolic typing, másnéven anyagcsere típus meghatározás egy több évtizede fejlődő olyan módszer, amely segít testünk genetikailag meghatározott makrotápanyag igényének meghatározásában és ezáltal a számunkra legmegfelelőbb étrend meghatározásában. Ez a megközelítés sokkal hatékonyabbá tette a táplálkozási tanácsadást.</p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2011</span> A Táplálkozás-Beállítás
        társalapítása
      </div>
      <p class="item-description">Barta Ákos barátommal közösen alapítottuk meg a Táplálkozás-Beállítás rendszerét, amely személyre szabott táplálkozási tanácsadásra specializálódott, és azóta a legnagyobb hazai táplálkozástudományi szolgáltatóvá nőtte ki magát.</p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2014</span> Ayahusca sajátélmény
      </div>
      <p class="item-description">Az Ayahusca egy Dél-Amerikában honos növényi készítmény (plant medicine, azaz "gyógyító növény"), amelyet hagyományos szertartások során használnak. A saját Ayahusca élményeim transzformatív spirituális élményeket adott és mélyítette önismeretemet.</p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2015</span> 5Ritmus sajátélmény, tábor és folyamat
      </div>
      <p class="item-description">A 5Ritmus egy szabadtánc forma, amelynek hatása szinte minden résztvevőre rendkívül felszabadító, oldja a stresszt és a korábbi latihános élményeimhez hasonlóan, meghatározó volt számomra szomatikus tapasztalataimban, azaz a testtel való munka hatékonyságának megértésében.</p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2015</span> A Flow dance megalkotása
      </div>
      <p class="item-description">Ekkoriban vidéken éltem, és olyan lelkes voltam a szabad mozgás témájában, hogy egy saját szabad tánc formát is megalkottam, amelynek instruálásában alkalmaztam az Érzelmi Oldásból megtanultakat is. </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2017</span> Az EVA 3000 Anyagcsere típus meghatározás
        elsajátítása
      </div>
      <p class="item-description">A fentebb említett anyagcsere típus meghatározás (metabolic typing) modernebb verziója egy kineziológia alapon működő, természetgyógyászati készülék. Társammal ezzel segítettünk sokaknak a táplálkozásuk optimalizálásában.</p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2018</span> Bufo sajátélmény
      </div>
      <p class="item-description">A Bufo Alvarius egy Mexikóban honos varangy, amelynek bőréből származó váladékot (5-MeO-DMT) dél-amerikai sámánok használják transzcendens élmény kiváltására. A saját Bufo élményem egy mindent elsöprő, nagyon intim élmény volt.</p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2018-2022</span> Your Health Academy -
        Egészség akadémia megalapítása és működtetése
      </div>
      <p class="item-description">A hosszú évek "magányos" alkotói és segítői tevékenysége után megjelent bennem a vágy egy csapat létrehozására, és ez szándék 2018-ban megérett a megvalósításra. A Your Health Academy Magyarországon az első vállalkozás, ahol egy szakértői csapat  foglalkozik a testi és lelki egészségeddel, mind orvosi, mind pedig alternatív megközelítéseket alkalmazva.</p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2023</span> Bodyway (Bodywork), 150+ órányi sajátélmény
      </div>
      <p class="item-description">
        A Bodyway/Bodywork egy csoportban végzett mély önismereti testmunka, nekem rengeteg oldódást és élményt adott. Megtanított rá például, hogyan tudok szinte bárkivel érdek és cél nélkül érintésben kapcsolódni, kifinomult az érzékelésem önmagamra és másokra, és rengeteg felismerést adott.
      </p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2024</span> Saját terápiás folyamat Csizi
        Andrással
      </div>
      <p class="item-description">András egy mentálhigiénés szakember, pár- és családterapeuta. A vele való munka életemben először megmutatta, hogy milyen érzés az, ha igazán "validálva vannak az érzéseim". Rengeteg mindent kaptam a folyamattól, mind egyénként, mind segítő szakemberként.</p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2024</span> Circling sajátélmény folyamat és
        képzés
      </div>
      <p class="item-description">A <a href="https://luciendelmar.com/methods/circling" target="_blank">Circling</a> módszere egy "első látásra szerelem". Egy csodálatos eszköznek tartom kapcsolataink mélyítésére, egymás jobb megértésére és a szeretethez való örökös visszatérésre.</p>
    </li>

    <li>
      <div class="font-semibold">
        <span class="text-gold">2025</span> Holistic Pulsing 1-2 szint
      </div>
      <p class="item-description">A Holistic Pulsing (Lélekringatás) egy holisztikus testkezelési forma, amely a test és lélek összhangjára összpontosít. Célja a feszültségek oldása és a mély relaxáció elősegítése.</p>
    </li>
  </ul>
</div>
