<span class="my-10 text-center text-4xl title text-gold"
  >Üdvözöllek világomban!
</span>
<main class="flex flex-col mb-20 items-center">
  <span class="leading-7 text-justify">
    <img src="../../../assets/lucien_standing.jpg" class="w-64 mt-2 rounded-sm" />
    1991 óta kíváncsiskodom a létezés és az emberi lét nagy kérdéseivel kapcsolatban - tengernyi értékkel, szuper módszerekkel és csodálatos tanítókkal találkozva.
    <br /><br />
    Ennyi idő alatt sikerült elérnem azt, hogy bizonyosan tudom, hogy nem sokat tudok.
    <br /><br />
    Ami pedig működik, ezt elsajátítottam, tanulom, beintegrálom és igyekszem átadni a hozzám fordulóknak. Mindig is mások képessé tétele érdekelt, az, hogy önjáróvá válj.
    <br /><br />
    13 éven keresztül írtam egy blogot önismeret és önfejlesztés témában, így inspirálva néhány ezer embert minden nap. Eddig 11 országban tanultam, konzultáltam és tanítottam. Írtam egy <a href="https://yha.hu/101-kerdes/" target="_blank">könyvet</a> önsegítés témakörben, létrehoztam egy <a href="https://yha.hu/" target="_blank">Egészség Akadémiát,</a> amely fénykorában 100 különböző tanfolyamot szolgáltatott a testi-lelki egészség témaköreiben. Felépítettem egy <a href="https://csudahely.hu" target="_blank">elvonuló helyet,</a> és van egy <a (click)="goToVisionPage()"> vízióm</a> arról, ahogyan a "törzsemmel" kapcsolódni szeretnék.
    <br /><br />
    Nézz körül itt, hátha hozzájárulhatunk egymás életéhez.
  </span>
  <span class="mt-10"> Élvezd a létet és ragyogj, </span>
  <span>
    Ruppert Endre Lucien
  </span>
  <span class="text-sm mt-2">
    ( alkotó néven Lucien del Mar )
  </span>
</main>
