<span class="my-10 text-center text-4xl title text-gold"
  >FIX 10 Üdvözöllek a bensőséges és őszinte<br />kapcsolódások világában!
</span>
<main class="flex flex-col mb-20 items-center">
  <span class="leading-7 text-justify">
    <img src="../../../assets/lucien-color.jpg" class="w-52 mt-2 rounded-sm" />
    1991 óta járom az utam a tudatosság világában, ami azzal jár, hogy mára elég
    jól átlátom a témában fellelhető lehetőségek tárát, és nehéz meglepni. Ennek
    ellenére azt kell, hogy mondjam, a Circling / Authentic Relating nagy erejű
    találkozásnak bizonyult, mert teljesen más, mint minden más. Nekem szerelem
    lett. 😊
    <br /><br />
    Olyan minőséget segít elsajátítani, ahogyan én minden kapcsolódásomban lenni
    szeretnék, és ahogyan az
    <a (click)="goToVisionPage()">elképzelésem</a> szerint, egy ideális világban
    mindenki mindenkivel kapcsolódna. <br /><br />
    Szándékom a Circling és testvérmódszereinek elterjesztése, ezen belül
    lehetőséget nyújtani Neked, hogy ráérezhess, mit adhat hozzá az
    <a (click)="goToBenefitsPage()">önismeretedhez</a> és hogyan emelheti a
    <a (click)="goToBenefitsPage()">kapcsolataidat!</a>
  </span>
  <span class="mt-5"> Nagy-nagy szeretettel, </span>
  <span class="text-sm mt-2 text-center">
    Ruppert Endre Lucien<br />aka Lucien del Mar
  </span>
</main>
