<span class="my-10 text-center text-4xl title text-gold"
  >Üdvözöllek világomban!
</span>
<main class="flex flex-col mb-20 items-center">
  <span class="leading-7 text-justify">
    <img src="../../../assets/lucien_standing.jpg" class="w-64 mt-2 rounded-sm" />
    1991 óta kíváncsiskodom a létezés és az emberi lét nagy kérdéseivel kapcsolatban - tengernyi értékkel, szuper módszerekkel és csodálatos tanítókkal találkozva.
    <br /><br />
    Ennyi idő alatt sikerült elérnem azt, hogy bizonyosan tudom, hogy nem sokat tudok. 😁
    <br /><br />
    Ami pedig működik, ezt elsajátítottam, tanulom, beintegrálom és igyekszem átadni a hozzám fordulóknak.
    <br /><br />
    Segítettem már néhány ezer embernek - 11 országban, írtam egy <a href="https://yha.hu/101-kerdes/" target="_blank">könyvet</a>, létrehoztam egy <a href="https://csudahely.hu" target="_blank">helyet</a>, ahol megpihenhetsz, és van egy <a (click)="goToVisionPage()"> vízióm</a> is, ahogy a körülöttem lévőkkel kapcsolódni szeretnék.
    <br /><br />
    Nézz körül, hátha hozzájárulhatunk egymás életéhez! 🤗
  </span>
  <span class="mt-10"> Élvezd a létet és ragyogj, </span>
  <span>
    Ruppert Endre Lucien
  </span>
  <span class="text-sm mt-2">
    ( alkotó néven Lucien del Mar )
  </span>
</main>
