<span class="text-4xl my-10 text-center text-gold block"
  >Az Érintés Gyógyítás</span
>
<span class="text-center">“Az érintés egy mindig kéznél lévő ajándék.”<br>(Lucien del Mar)</span>
<main class="text-justify mb-24">
  <div class="relative">
    <span class="text block">
      <img
        src="assets/lucien-color.jpg"
        alt="Lucien del Mar"
        class="float-right ml-8 w-[220px] rounded-md"
      />
      <span class="block text-right"></span>
      <br /><br />
      Új szolgáltatást fejlesztek érintés témakörben - mestereim Lancsin Zsuzska és Hortolányi Aisha szakértelme és a saját fejlesztői tapasztalataim alapján.
    </span>
  </div>

  <span class="highlight"
    >Miben segíthet?</span
  >
  <ul class="mt-5 ml-10 list-disc space-y-2">
    <li>Bátorság vágyaink kimondásában</li>
    <li>Negatív érintések, fizikai kontaktus hatásainak, félelmek oldásában</li>
    <li>Felismerni, hogy tulajdonképpen mi jó nekem</li>
    <li>Hiányok töltésében</li>
    <li>Bizalom gyógyulásában a férfiak felé</li>
  </ul>

  <span class="highlight">Céljaink</span>
  <ul class="mt-5 ml-10 list-disc space-y-2">
    <li>
      Az érintéssel kapcsolatos esetleges elakadások, negatív tapasztalatok
      oldása, átírása.
    </li>
    <li>
      Az érintés befogadásának és az adás képességének fejlesztése, mélyítése.
    </li>
    <li>
      Megtapasztalni, hogy milyen szeretetteljes, konszenzuson alapuló
      érintésben lenni, és abban megpihenni.
    </li>
    <li>Megtanulni felismerni és kifejezni vágyainkat.</li>
    <li>Röviden: érintés kultúránk fejlesztése</li>
  </ul>

  <div class="mt-8">
    Ez egy több alkalmas folyamat, egy-egy alkalom 1-1,5 órát vesz igénybe.<br />
    <br />
    Most egy alkalmat ingyen felajánlok mindenféle kötelezettség nélkül. Ez
    nekem gyakorlás, neked lehetőség a fejlődésre és oldásra.
  </div>

  <span class="highlight">Ami történni fog</span>
  <ul class="mt-5 ml-10 list-disc space-y-2">
    <li>
      Átbeszéljük a saját “érintés történetedet”, pozitív és negatív
      tapasztalataidat, fejlődési igényeidet.
    </li>
    <li>
      Finom érintéseket kapsz (és ha szeretnél - gyakorlás képpen - adhatsz is).
    </li>
    <li>“Ölelésterápia”: pihenhetsz, töltődhetsz ölelésben.</li>
  </ul>

  <div class="mt-8">
    A folyamat ruhában történik, intim területek nincsenek érintve, minden
    érintés konszenzusos, azaz közös megegyezésen alapul, a kliens és a saját
    határaim 100%-os betartásával.
  </div>

  <span class="text-3xl text-gold font-bold mt-12 mb-2 block">Alapelveink</span>
  <ul class="mt-5 ml-10 list-disc space-y-2">
    <li>A kevesebb mindig több.</li>
    <li>
      Csak úgy érintünk, amit még kényelmesen meg tudunk figyelni, be tudunk
      fogadni.
    </li>
  </ul>

  <span class="highlight mt-8 block">Visszajelzések korábbi klienseimtől</span>
  <!-- Ide jöhetnek majd a visszajelzések -->
</main>
