<span class="text-4xl my-10 text-center text-gold block"
  >Az Érintés Gyógyítása</span
>
<span class="text-center"
  >“Az érintés egy mindig kéznél lévő ajándék.”<br />Lucien del Mar</span
>
<main class="text-justify mb-24">
  <img
    src="assets/holding.jpg"
    alt="Érintés Gyógyítás"
    class="text-center mt-10 rounded-md w-[400px] mx-auto mb-16"
  />
  <span>
    Az érintést a kapcsolódás egy csodálatos eszközének látom és lehetőségnek
    saját magunk és emberi kapcsolataink elmélyítésére, gyógyítására és
    színesebbé tételére.
    <br /><br />
    Az Érintés Gyógyítását "érintő" mestereim, Lancsin Zsuzska és Hortolányi
    Aisha szakértelme, segítő iránymutatásai és a saját tapasztalataim alapján
    fejlesztem.
  </span>

  <span class="highlight">A folyamat célja</span>
  <span class="mt-5 ml-10">
    Az érintéssel, intimitással kapcsolatos esetleges elakadások, negatív
    tapasztalatok oldása, átírása, az érintés befogadásának és az adás
    képességének fejlesztése, mélyítése, szeretetteljes, konszenzuson alapuló
    érintésben megpihenni és töltődni. Röviden: érintés kultúránk fejlesztése
  </span>

  <img
    src="assets/handholding.jpg"
    alt="Érintés Gyógyítás"
    class="text-center mt-12 rounded-md w-[400px] mx-auto"
  />

  <span class="highlight">Miben segíthet?</span>
  <ul class="mt-5 ml-10 list-disc space-y-2">
    <li>Bátorság felélesztése vágyaink kimondására</li>
    <li>Érintéssel kapcsolatos negatív tapasztalatok, félelmek oldásában</li>
    <li>Felismerni, hogy tulajdonképpen mi jó nekem</li>
    <li>Vágyaink felismerésében, megfogalmazásában és kifejezésében</li>
    <li>Hiányok betöltésében</li>
    <li>Bizalom gyógyulásában férfiak felé</li>
    <li>Határaink felismerésében és megtartásában</li>
    <li>Mások határainak megismerésében és tiszteletben tartásában</li>
    <li>Testünk elfogadásában és szeretetében</li>
  </ul>

  <span class="highlight">Ami történni fog</span>
  <ul class="mt-5 ml-10 list-disc space-y-2">
    <li>
      Átbeszéljük a saját “érintés történetedet”, érintéssel, fizikai
      kontaktussal kapcsolatos pozitív és negatív tapasztalataidat, s fejlődési
      igényeidet.
    </li>
    <li>
      Több különböző gyakorlat során finom érintéseket kapsz (és ha szeretnél -
      gyakorlásképpen - adhatsz is).
    </li>
    <li>Opcionális: “Ölelésterápia”: pihenhetsz, töltődhetsz ölelésben.</li>
    <li>Opcionális: Szívnyitó érintés</li>
    <li>Megéléseid átbeszélése, feldolgozása.</li>
  </ul>

  <div class="mt-8">
    A beszélgetés és érintés ruhában történik, intim területek kihagyásával.
    Minden érintés konszenzusos, azaz megegyezésen alapul, a kliens és a saját
    határaim 100%-os betartásával. Mottóink az érintésben: "A kevesebb mindig
    több", és "lassabban mozdulva többet érzünk".
    <br />
    <br />
    A folyamat több ülésből állhat, egy-egy alkalom 1-1,5 órát vesz igénybe.
    Mindenképpen kényelmes ruhában gyere (vagy hozz magaddal, átöltözésre van
    lehetőség).
  </div>
  <div class="text-center mt-10">
    <button (click)="goToTestimonialsPage()">Klienseim visszajelzései</button>
  </div>
</main>
