<span class="text-4xl mt-10 mb-14 text-center text-gold">Ringató masszázs</span>

<main class="text-justify mb-24">
  <div>
    <span class="text block">
      <img
        src="assets/holistic-pulsing.jpg"
        alt="Holistic Pulsing"
        class="float-right ml-8 h-[210px] rounded-md"
      />
      A Ringató masszázs (holisztikus pulzálás) egy gyengéd, ritmikus, az egész
      testet átmozgató masszázstechnika, amely segít ellazulni és mélyíteni a
      kapcsolatot önmagaddal.
      <br /><br />
      A kezelés során fekvő helyzetben, felöltözve részesülsz a finom
      ringatásban, amely oldja a fizikai és érzelmi feszültségeket. Nem csak
      egy-egy szervet vagy blokkot célzunk meg, hanem az egész testedre hatunk.
      <br /><br />
      A módszer különösen hatékony a stressz oldásában, a test-lélek harmónia
      helyreállításában és a belső nyugalom megteremtésében. A ringatás közben
      gyakran tapasztalható mély ellazulás és a gondolatok elcsendesedése.
    </span>
  </div>

  <span class="highlight mt-8">Visszajelzések alapján</span>

  <ul class="mt-5 ml-10 list-disc space-y-2 mb-6">
    <li>Oldja a fizikai és érzelmi feszültségeket</li>
    <li>Segíti a stresszoldást és relaxációt</li>
    <li>Javítja a test-tudat kapcsolatot</li>
    <li>Támogatja az öngyógyító folyamatokat</li>
    <li>Harmonizálja a test energiaáramlását</li>
    <li>Elősegíti a jobb alvásminőséget</li>
    <li>Növeli a test rugalmasságát</li>
    <li>Erősíti az önmagunkkal való kapcsolatot</li>
  </ul>

  <span class="highlight mt-8">A kezelés menete</span>

  <ul class="mt-5 ml-10 list-disc space-y-2">
    <li>Néhány mondatban mesélhetsz az aktuális testi-lelki állapotodról</li>
    <li>Kényelmes elhelyezkedés felöltözve, mezítláb a masszázságyon</li>
    <li>Kb. 45 perces gyengéd, ritmikus ringatás</li>
    <li>Megpihenés, visszatérés</li>
  </ul>

  <div class="mt-8 flex flex-col">
    <span class="highlight">Visszatérés</span>
    <span class="text italic mt-4">
      "Ahol minden elkezdődött anno.
      <br /><br />
      Ahol szívverésed volt létezésed hangja.
      <br /><br />
      Most visszatérhetsz oda,
      <br /><br />
      ősóceáni, ritmikus hullámzásban,
      <br /><br />
      a világ legbiztonságosabb helyére.
      <br /><br />
      Ahol mély jelenlétben, ott leszek Veled.
      <br /><br />
      Ahol minden, még egyszer, elkezdődhet."
      <br /><br />
      (lucien)
    </span>
  </div>

  <div class="bg-gold p-3 text-black font-normal text-center">A kezelést most ingyen kipóbálhatod.</div>

  <div class="text-center">
    <button (click)="goToContactPage()" class="mt-5">Érdekel</button>
  </div>
</main>
