<main class="flex flex-col items-center">
  <span class="text-4xl mb-10 text-center title text-gold">Vízió</span>
  <div class="text-justify inline-block rounded-sm relative">
    <img src="../../../assets/campfire.jpg" class="float-right ml-10 mb-3 w-[400px]" />
    Sok-sok évvel ezelőtt, valamikor a húszas éveim elején, megláttam egy gyönyörű életkép vízióját.
    <br /><br />
    Egy asztal körül ültünk, párok, barátok, talán egy közös projekt, tevékenység vagy téma köthetett minket össze.
    <br /><br />
    Eszegettünk, beszélgettünk, és az
    egészet valami megfoghatatlan, de mégis tapintható szeretet járta át.
    <br /><br />
    Elfogadásban, erőben, érettségben, bensőségesen voltunk együtt, mindenféle féltékenység nélkül, teljes bizalomban, tisztelettel és őszinteségben.
    <br /><br />
    Egy valód törzs, "választott család" voltunk. Számomra ez a kép mindent visz!
    <br /><br />
    Többször megéltem kisebb-nagyobb mértékben hasonlót, de hosszú távon is szeretnék ezért tenni és megélni.
    <br /><br />
    Talán te is részese leszel?!
    <br /><br />
    <span class="text-center w-full inline-block">lucien</span>
  </div>
</main>
