<main class="flex flex-col items-center">
  <span class="text-4xl mb-10 text-center title text-gold">Vízió</span>
  <div class="text-justify inline-block rounded-sm relative">
    <img src="../../../assets/campfire.jpg" class="float-right ml-10 mb-3 w-[400px]" />
    Sok-sok évvel ezelőtt, még a húszas éveimben talán, megjelent számomra egy
    gyönyörű életkép a llki szemeim előtt.
    <br /><br />
    Egy asztal körül ültünk, párok, barátok. Eszegettünk, beszélgettünk, és az
    egészet valami megfoghatatlan, de mégis tapintható szeretet járta át.
    <br /><br />
    Talán egy közös projekt, tevékenység vagy téma kötött minket össze, és
    elfogadásban, erőben, érettségben, szeretetben voltunk együtt, bármiféle
    féltékenység nélkül, teljes bizalomban,tisztelettel és őszinteségben.
    <br /><br />
    Egy valód törzs, "választott család" voltunk -
    nekem ez a kép mindent visz.
    <br /><br />
    Egyszer már megéltem hasonlót, bodywörkös barátaimmal, de hosszú távon is
    vágyom ezt építeni.
    <br /><br />
    Talán te is része leszel?!
    <br /><br />
    <span class="text-center w-full inline-block">lucien</span>
  </div>
</main>
