<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        class="block md:hidden"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span routerLink="/" class="cursor-pointer brand">Lucien del Mar</span>
      <span class="menu-spacer"></span>
      <div class="hidden md:block">
        <button routerLink="about" routerLinkActive="active">Rólam</button>
        <button routerLink="vision" routerLinkActive="active">Vízió</button>
        <button routerLink="method" routerLinkActive="active">Módszer</button>
        <button routerLink="benefits" routerLinkActive="active">
          Mire jó?
        </button>
        <button routerLink="services" routerLinkActive="active">
          Szolgáltatások
        </button>
        <button routerLink="videos" routerLinkActive="active">Videók</button>
        <button routerLink="contact" routerLinkActive="active">
          Kapcsolat
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <button routerLink="about" (click)="sidenav.toggle()">Rólam</button>
        <button routerLink="vision" (click)="sidenav.toggle()">Vízió</button>
        <button routerLink="method" (click)="sidenav.toggle()">Módszer</button>
        <button routerLink="benefits" (click)="sidenav.toggle()">
          Mire jó?
        </button>
        <button routerLink="services" (click)="sidenav.toggle()">
          Szolgáltatások
        </button>
        <button routerLink="videos" (click)="sidenav.toggle()">Videók</button>
        <button routerLink="contact" (click)="sidenav.toggle()">
          Kapcsolat
        </button>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="bg-black">
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
