<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <span routerLink="/" class="cursor-pointer brand">Lucien del Mar</span>
      <span class="menu-spacer"></span>
      <button
        mat-icon-button
        (click)="toggleSidenav($event)"
        class="flex items-center justify-center"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav position="end">
      <div class="sidenav-header">
        <button
          mat-icon-button
          (click)="toggleSidenav($event)"
          class="close-button"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <mat-nav-list>
        <button
          routerLink="about"
          routerLinkActive="active"
          (click)="toggleSidenav($event)"
        >
          Rólam
        </button>
        <button
          routerLink="vision"
          routerLinkActive="active"
          (click)="toggleSidenav($event)"
        >
          Vízió
        </button>
        <button
          routerLink="method"
          routerLinkActive="active"
          (click)="toggleSidenav($event)"
        >
          Módszerek
        </button>
        <button
          routerLink="benefits"
          routerLinkActive="active"
          (click)="toggleSidenav($event)"
        >
          Mire jó?
        </button>
        <button
          routerLink="services"
          routerLinkActive="active"
          (click)="toggleSidenav($event)"
        >
          Szolgáltatások
        </button>
        <button
          routerLink="videos"
          routerLinkActive="active"
          (click)="toggleSidenav($event)"
        >
          Videók
        </button>
        <button
          routerLink="contact"
          routerLinkActive="active"
          (click)="toggleSidenav($event)"
        >
          Kapcsolat
        </button>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="bg-zinc-900">
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
