<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <span routerLink="/" class="cursor-pointer brand">Lucien del Mar</span>
      <span class="menu-spacer"></span>
      <button
        mat-icon-button
        class="flex items-center justify-center hamburger-button"
        (pointerup)="openSidenav($event)"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav
      #sidenav
      position="end"
      [disableClose]="false"
      [autoFocus]="false"
      [fixedInViewport]="true"
      mode="over"
      position="end"
      [disableClose]="true"
      [autoFocus]="false"
      [fixedInViewport]="true"
      mode="over"
    >
      <div class="sidenav-header">
        <button
          mat-icon-button
          (click)="closeSidenav($event)"
          class="close-button"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <mat-nav-list>
        <button
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="navigateTo($event, '')"
        >
          Kezdőlap
        </button>
        <button
          routerLink="about"
          routerLinkActive="active"
          (click)="navigateTo($event, 'about')"
        >
          Rólam
        </button>
        <button
          routerLink="vision"
          routerLinkActive="active"
          (click)="navigateTo($event, 'vision')"
        >
          Vízió
        </button>
        <button
          routerLinkActive="active"
          (click)="toggleSubmenu('methods')"
          class="flex items-center"
        >
          Módszereim
          <mat-icon class="ml-1 text-sm">{{
            showMethodsSubmenu ? "expand_less" : "expand_more"
          }}</mat-icon>
        </button>
        <!-- Submenu for circling under methods -->
        <button
          *ngIf="showMethodsSubmenu"
          routerLink="methods/circling"
          routerLinkActive="active"
          (click)="navigateTo($event, 'methods/circling')"
          class="submenu-item"
        >
          Circling
        </button>
        <button
          routerLink="services"
          routerLinkActive="active"
          (click)="navigateTo($event, 'services')"
        >
          Szolgáltatások
        </button>
        <button
          routerLink="videos"
          routerLinkActive="active"
          (click)="navigateTo($event, 'videos')"
        >
          Videók
        </button>
        <button
          routerLink="contact"
          routerLinkActive="active"
          (click)="navigateTo($event, 'contact')"
        >
          Kapcsolat
        </button>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="bg-zinc-900">
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
