:host {
  @apply flex flex-col items-center bg-zinc-900;
  min-height: calc(100vh - 60px);
  color: grey;
}

.highlight {
  color: var(--primary);
  @apply text-lg;
}

.title {
  color: var(--primary);
}

li {
  @apply mb-5;
}

@media (max-width: 768px) {
  main {
    @apply w-4/5;
  }
}
