<span class="text-4xl mb-10 mt-10 text-center title text-gold">Mire jó?</span>
<main class="text-justify mb-20">
  Az általános megfigyelés az, hogy minél több időt töltünk el Circlingben,
  annál inkább átalakul a személyiségünk az őszintébb, autentikusabb,
  figyelmesebb, könnyebben kapcsolódó irányban.
  <ul class="mt-5 mx-5">
    <li class="highlight">Empátia</li>
    <li>
      “Kifinomult a saját magam és mások érzékelése, sokkal kisebb dolgokat
      észreveszek önmagamban és másokban, s ezáltal nagy mértékben nőtt az
      empátiám.”
    </li>
    <li class="highlight">Ítélkezésmentesség</li>
    <li>
      “Könnyebben elfogadásba kerülnek bennem a saját magam és mások érzései,
      gondolatai és tettei. Csökken, néha meg is szűnik az ítélkezés/minősítés."
    </li>
    <li class="highlight">Érzések megosztása</li>
    <li>
      "Könnyebb megosztani az érzéseimet, mert már tudom, hogy milyen
      biztonságos, megértő térben lenni. Úgy érzem, ez a kötődésemre is hatással
      van."
    </li>
    <li class="highlight">Reálisabb énkép</li>
    <li>"A visszajelzések által sokkal reálisabb képet kapunk önmagunkról!"</li>
    <li class="highlight">Szeretetteli kapcsolódás</li>
    <li>
      "Megtapasztaltam, hogy milyen egy autentikus, szeretetteli kapcsolódás és,
      hogy idegenekkel is képes vagyok rá, és viszonylag gyorsan. Zseniális."
    </li>
    <li class="highlight">Minták tudatosulása</li>
    <li>
      "A Circlingben feljött egy férfiakkal való mély ellenállásom, és ez aztán
      ki is tudott simulni még ott."
    </li>
    <li class="highlight">"Kommunikációs laboratórium"</li>
    <li>
      "A Circlingben biztonságos körülmények között figyelhetem meg a hatásomat
      másokra és akár kipróbálhatok számomra új dolgokat is a kommunikációban."
    </li>
  </ul>
</main>
