<div class="text-4xl mt-10 mb-4 text-center title text-gold">
  Egyéni foglalkozás
</div>
<main class="text-justify mb-20">
  <span>Felmérő beszélgetés</span>
  <p>
    Nálam minden egy beszélgetéssel, ismerkedéssel kezdődik videóhívásban.
    <br /><br />
    Ez általában maximum egy fél órát vesz igénybe, és természetesen neked nem kerül semmibe.
    <br /><br />
    A beszélgetés célja, hogy kiderítsük, mennyire felelünk meg egymásnak.
    <br /><br />
    Én sem vállalok el mindenkit, és neked sem feltétlenül én vagyok a megfelelő segítő. Ha nem, akkor ajánlok neked egy jó szakembert, ha pedig igen, akkor örülünk, és megbeszéljük a továbbiakat. 😃
  </p>
  <span>Eszköztár</span>
  <p>
    A célodtól, a megoldandódtól függően választom ki a megfelelő módszert, és ahogy haladunk, akár több eszközt is használni fogok vagy megtanítok neked.
  </p>
  <span>Helyszín</span>
  <p>
    A "terápiás" ülések, kezelések kizárólag személyesen, Dunabogdányban a
    <a href="https://csudahely.hu/" target="_blank" class="text-gold"
      >Csudahelyen</a
    >, vagy Budapesten, előre leegyeztetett helyen zajlanak.
  </p>
  <span>Ár</span>
  <p>18.000 Ft / óra</p>
  <button (click)="goToContactPage()" class="mt-5">Jelentkezem</button>
</main>
