<div class="text-4xl mt-10 mb-4 text-center title text-gold">
  Egyéni folyamat
</div>
<main class="text-justify mb-20">
  <span>Felmérő beszélgetés</span>
  <p>
    Nálam minden egy beszélgetéssel, ismerkedéssel kezdődik videóhívásban.
    <br /><br />
    Ez maximum egy fél órát vesz igénybe, és természetesen neked nem kerül
    semmibe.
    <br /><br />
    A beszélgetés célja, hogy kiderítsük, mennyire felelünk meg egymásnak, és ha
    igen, akkor kicsit megismerjük egymást.
    <br /><br />
    Én sem vállalok el mindenkit, és neked sem feltétlenül én vagyok a megfelelő
    segítő. Ha nem, akkor ajánlok neked egy jó szakembert, ha pedig igen, akkor
    örülünk, és megbeszéljük a továbbiakat.
  </p>
  <span>Eszköztár</span>
  <p>
    A célodtól, a megoldandódtól függően választom ki az alkalmazott
    megközelítést, és ahogy haladunk, akár több technikát is használni fogok
    vagy akár meg is tanítok neked.
  </p>
  <p class="my-5">Jelenleg használt eszközeim</p>
  <ul
    class="pl-6 mb-4 marker:text-gold [&>li]:flex [&>li]:items-center [&>li]:before:content-['•'] [&>li]:before:text-gold [&>li]:before:mr-2"
  >
    <li>
      <a
        (click)="navigateWithScroll('/methods/holding-conversation')"
        class="text-gold cursor-pointer"
        >Megtartó beszélgetés</a
      >
    </li>
    <li>
      <a
        (click)="navigateWithScroll('/methods/holistic-pulsing')"
        class="text-gold cursor-pointer"
        >Ringató masszázs</a
      >
    </li>
    <li>
      <a
        (click)="navigateWithScroll('/methods/regression-therapy')"
        class="text-gold cursor-pointer"
        >Érzelmi oldás</a
      >
    </li>
    <li>
      <a
        (click)="navigateWithScroll('/methods/circling')"
        class="text-gold cursor-pointer"
        >Circling</a
      >
    </li>
  </ul>
  <span>Helyszín</span>
  <p>
    Az egyéni ülések, kezelések kizárólag személyesen, a
    <a href="https://csudahely.hu/" target="_blank" class="text-gold"
      >Csudahelyen</a
    >
    (Dunabogdányban, Budapesttől fél órányira), vagy a fővárosban, előre
    leegyeztetett helyszínen zajlanak.
  </p>
  <span>Ár</span>
  <p>18.000 Ft / óra</p>
  <button (click)="goToContactPage()" class="mt-5">Jelentkezem</button>
</main>
