<div class="text-4xl mt-10 text-center title text-gold">
  Egyéni foglalkozás
</div>
<main class="text-justify mb-20">
  <span>Eszköztár</span>
  <p>
    A célodtól, a megoldandódtól függően választunk módszert.
  </p>
  <span>Helyszín</span>
  <p>
    A "terápiás" ülések, kezelések kizárólag személyesen, Dunabogdányban
    <a href="https://csudahely.hu/" target="_blank" class="text-gold"
      >a Csudahelyen</a
    >, vagy Budapesten zajlanak.
  </p>
  <span>Ár</span>
  <p>18.000 Ft / óra</p>
  <button (click)="goToContactPage()" class="mt-5">Jelentkezem</button>
</main>
