<div class="text-4xl mb-5 mt-10 text-center title">Események</div>
<main class="text-justify mb-20">
  <span class="event"
    >Bevezetés a Circling és Authentic Relating világába (díjmentes)</span
  >
  <span>Online esemény</span>
  <span class="date">2024. Szeptember 5. Csütörtök 18.00-20:00</span>
  <p class="mt-5">
    A Circling/AR egy különleges kommunikációs együttlét, mely alkalomról
    alkalomra egyre mélyebb kapcsolódásra és önismeretre nyújt lehetőséget.
    <br /><br />
    A csoport vezetője Ruppert Endre Lucien.
    <br /><br />
    Az esemény kiscsoportban (3-5 résztvevővel), online zajlik.
    <br /><br />
    Az alkalom 2 órás, semmiféle előzetes tapasztalat nem szükséges hozzá.
    <br /><br />
    Olyanoknak, akik még nem vettek részt Circling vagy Authentic Relating
    eseményen!
    <br /><br />
  </p>
  <button (click)="goToContactPage()">Jelentkezem</button>
</main>
