<span class="text-4xl my-10 text-center text-gold">Circling</span>
<main class="text-justify mb-10 mx-5">
  <span class="highlight">Mi a Circling?</span>
  <span class="text">
    A Circling egy különleges kommunikációs/kapcsolati módszer, amely folyamatosan mélyülő önismeretre és kapcsolódási képességünk fejlesztésére ad lehetőséget. Használható egyéni ülésekben, csoportban és bármely személyes kapcsolatunkban is.
  </span>
  <span class="highlight">Mi a Circling / Authentic Relating?</span>
  <span class="text"
    ><b>Circling:</b> "circle" angolul "kör". Arra utal, hogy egy körben ülünk,
    és amikor egyikünk kerül a fókuszba, akkor "körül-ötte" vagyunk, őrá
    figyelünk, vele foglalkozunk elsősorban. <br /><br /><b>Authentic:</b>
    autentikus, önazonos - <b>Relating:</b> kapcsolódás <br />Arra az izgalmas
    és örök kérdésre utal, hogy hogyan tudunk önazonosak maradni, miközben
    mélyen kapcsolódunk. A két vágyunk/igényünk ki tud-e elégülni egyszerre. S
    erre a kérdésem a tapasztalataim alapján a Circling/AR megadja a csodálatos
    választ!<br /><br />
    Arra a kérdésre pedig, hogy mi a Circling, ahány megélés, annyi válasz,
    ezért én inkább idéznék néhányat, mert mindegyik igaz, de önmagában kevés:
    <br />
    <br />&bull; Az egymásra figyelés művészete <br />&bull; Kommunikációs
    rendszer <br />&bull; Kapcsolati meditáció <br />&bull; Önismereti módszer
    <br />&bull; Egyedülálló, néhány órás, mély együttlét-mód két vagy több
    ember között online vagy személyesen. <br />&bull; Idegenek és ismerősök
    között is gyorsan hidat teremteni képes jelenlét forma <br />&bull; Minőségi
    figyelés, mély egymással lét <br />&bull; A csoport, a tér intelligenciára
    épülő figyelem, megengedés, befogadás és kommunikáció
  </span>
<span class="highlight">Mit adhat?</span>
<span class="text">
  Az általános megfigyelés az, hogy minél több időt töltünk el Circlingben,
  annál inkább átalakul a személyiségünk az őszintébb, autentikusabb,
  figyelmesebb, könnyebben kapcsolódó irányban.
  </span>
  <ul class="mt-5 mx-5">
    <li class="highlight">Empátia</li>
    <li>
      “Kifinomult a saját magam és mások érzékelése, sokkal kisebb dolgokat
      észreveszek önmagamban és másokban, s ezáltal nagy mértékben nőtt az
      empátiám.”
    </li>
    <li class="highlight">Ítélkezésmentesség</li>
    <li>
      “Könnyebben elfogadásba kerülnek bennem a saját magam és mások érzései,
      gondolatai és tettei. Csökken, néha meg is szűnik az ítélkezés/minősítés."
    </li>
    <li class="highlight">Érzések megosztása</li>
    <li>
      "Könnyebb megosztani az érzéseimet, mert már tudom, hogy milyen
      biztonságos, megértő térben lenni. Úgy érzem, ez a kötődésemre is hatással
      van."
    </li>
    <li class="highlight">Reálisabb énkép</li>
    <li>"A visszajelzések által sokkal reálisabb képet kapunk önmagunkról!"</li>
    <li class="highlight">Szeretetteli kapcsolódás</li>
    <li>
      "Megtapasztaltam, hogy milyen egy autentikus, szeretetteli kapcsolódás és,
      hogy idegenekkel is képes vagyok rá, és viszonylag gyorsan. Zseniális."
    </li>
    <li class="highlight">Minták tudatosulása</li>
    <li>
      "A Circlingben feljött egy férfiakkal való mély ellenállásom, és ez aztán
      ki is tudott simulni még ott."
    </li>
    <li class="highlight">"Kommunikációs laboratórium"</li>
    <li>
      "A Circlingben biztonságos körülmények között figyelhetem meg a hatásomat
      másokra és akár kipróbálhatok számomra új dolgokat is a kommunikációban."
    </li>
  </ul>
</main>

