<span class="mt-10 mb-16 text-center text-gold title">Visszajelzések</span>
<main class="text-justify mb-24">
  <div id="kizabel" class="testimonial-block">
    <span class="testimonial-title">Izabel</span>
    <span class="testimonial-service"
      ><a routerLink="/methods/touch">Érintés gyógyítás</a></span
    >
    <span>
      "Hálásan köszönöm Neked a mai együttlétet! Nem tudom (most még) szavakba
      önteni amit érzek. De ez a kép elég közel áll hozzá."
    </span>
    <div class="testimonial-image">
      <img
        src="assets/izabel.jpeg"
        alt="Izabel testimonial image"
        class="rounded-lg shadow-lg my-4"
      />
    </div>
    <span class="testimonial-author">(K. Izabel)</span>
  </div>

  <div id="kkarolina" class="testimonial-block">
    <span class="testimonial-title">Karolina</span>
    <span class="testimonial-service"
      ><a routerLink="/methods/touch">Érintés gyógyítás</a></span
    >
    <span>
      "Nagyon köszönöm a mait! Úgy érzem, hogy sokat segített, köszönöm, hogy
      ennyire őszinte lehettem. Nagyon jó érzés volt ennyire biztonságban érezni
      magam az érintésben, és a beszélgetésben. Rég nem éreztem magam ennyire
      elfogadva, ítélkezés nélkül. Felszabadító volt megtapasztalni hogy lehetek
      önmagam, kimondhatom amit gondolok és ennek megítélés nélkül van helye
      valahol, elfogadással és befogadással. Köszönöm, hogy megtapasztalhattam,
      hogy nem kell mindig erősnek lenni, hogy félni oké, és hogy láthatom
      máshogyan is a bennem zajló folyamatokat. 🙂"
    </span>
    <span class="testimonial-author">(R. Karolina)</span>
  </div>
  <div id="bblanka" class="testimonial-block">
    <span class="testimonial-title">Blanka</span>
    <span class="testimonial-service"
      ><a routerLink="/methods/holding-conversation"
        >Megtartó beszélgetés</a
      ></span
    >
    <span>
      "Lassan egy éve folytatunk beszélgetéseket és minden alkalom után javulást
      érzek a mindennapjaimban.<br /><br />

      Rengeteg szakképzett pszichológusnál jártam, de még sosem éreztem ezt a
      szintű elfogadást, empátiát és motivációt. Sok pszichológus adott "házi
      feladatokat", de mindig azok maradtak, egy plusz erőlködés. Nálad ezek nem
      feladatok, hanem eszközök, amiket szívesen használok mai napig és
      segítenek abban, hogy magamat tudjam figyelni és megérteni. Már kevesebb
      ülésre is van szükségem, megtanultam tőled rengeteg dolgot, amik
      átsegítenek a mindennapok küzdelmein és stresszhelyzetein.<br /><br />

      Nagyobb elfogadással tekintek érzelmeimre is és mindez nélkülözhetetlen,
      hogy boldogabban és kiegyensúlyozottan éljek, amit mind neked
      köszönhetek!"
    </span>
    <span class="testimonial-author">(B. Blanka)</span>
  </div>

  <div id="bkarola" class="testimonial-block">
    <span class="testimonial-title">Karola</span>
    <span class="testimonial-service"
      ><a routerLink="/methods/holistic-pulsing">Ringatás</a></span
    >
    <span>
      "Teljes regenerálódást éreztem. Gyengéden átmasszíroztad a belső
      szerveim.1x köszönöm a 'masszázst', különleges élmény volt<br /><br />

      Mintha egy oltáron feküdtem volna 'megüdvözülve', Jézus is eszembe jutott
      halála után/feltámadása előtt a lepelben.<br /><br />

      Az első ringatò mozdulatkor (csípő) egy hajòn éreztem magam, hullámokon
      imbolyogva, még enyhe szédülés is elkapott.<br /><br />

      A lábujjaknál még nem tapasztalt érzés volt, az idegszálakon továbbfutott
      a térdemig.<br /><br />

      Később volt, hogy a kutyám jutott eszembe hogy de jò neki, én mindennap
      dögönyözöm, ilyesmit érezhet 😄<br /><br />

      A korona csakránál megnyugvást, kilépést tapasztaltam, talán el is
      aludtam.<br /><br />

      A legvégén a hosszas kézfogás olyan kellemes, szeretetteljes volt, hogy
      maradtam volna még így aludni pár òrát.<br /><br />

      Képi elemek nem jöttek most"
    </span>
    <span class="testimonial-author">(B. Karola)</span>
  </div>

  <div id="emarta" class="testimonial-block">
    <span class="testimonial-title">Márta</span>
    <span class="testimonial-service"
      ><a routerLink="/methods/holistic-pulsing">Ringatás</a></span
    >
    <span>
      "A kezelés alatt olyan fura érzésem volt, mintha bizsergett volna a bőröm
      alatt, különösen a karomon. Egyáltalán nem volt rossz érzés, csak ilyent
      még nem éreztem. És a nyugalom volt a másik érzés. Kicsit sétáltam a
      Duna-parton, jól esett és gyönyörű volt a Duna és a táj. Amit a kezelés
      után éreztem, és még most is tart: mintha feltöltődtek volna az elemeim.
      Még nem teljesen, de azért sokkal jobb. Nagyon köszönöm!"
    </span>
    <span class="testimonial-author">(E. Márta)</span>
  </div>

  <div id="nanita" class="testimonial-block">
    <span class="testimonial-title">Anita</span>
    <span class="testimonial-service"
      ><a routerLink="/methods/holistic-pulsing">Ringatás</a></span
    >
    <span>
      "Az egész találkozás Luciennel flow-szerűen történt, mert nem ismertem őt,
      csak véletlenül találtam rá a facebookon és azt éreztem, hogy mennem kell
      arra a hívásra, hogy ringató masszázs, valahogy nekem pont erre van most
      szükségem…<br /><br />

      És fogadott is egy csudálatosan szép helyen, a
      <a href="https://csudahely.hu/" target="_blank" class="text-gold"
        >Csudahelyen</a
      >, ahonnan lehet látni a gyönyörű szép hegyeket, a Dunát.<br /><br />

      Amikor elkezdődött a ringató masszázs, halk zene szólt. Először nagyon
      merevnek éreztem a testem, azt éreztem hogy nem tud a ringatás hatni rám,
      olyannak éreztem magam, mintha egy őskövület lennék és az volt a nagyon
      jó, hogy nem voltam bírálva, hogy hát igen, ahogy a masszőrök szokták
      mondani: ez az izom nagyon be van keményedve ám, húha ez itt nagyon
      merev…szóval nem volt semmi ilyesmi, csak türelem és elfogadás és idő,
      idő, idő…<br /><br />

      Időt hagyva létezni csak, és ez annyira jó volt, hogy volt tere ennek az
      egésznek így, és amikor végre volt egy pont, amikor a testem feladta az
      ellenállást és beleolvadt ebbe a támogató térbe, ami szelíd, várakozó,
      figyelő, megtartó, alázatos, szerény.<br /><br />

      Még az óvó szó jön elő. Olyan tényleg, mint amilyennek elképzeljük az
      ideális anya-gyermek kapcsolatot vagy apa-gyermek kapcsolatot, amikor is
      csak támogatás van és feltétel nélküli szeretet és elfogadás és az
      ottlevés van jelen.<br /><br />

      Azt éreztem, hogy amikor végre sikerült beleolvadnom vagy átadni magamat
      ennek a szeretetteljes energiának, ellazultam, s akkor hirtelen érdekes
      módon kék fényt láttam a csukott szememmel a lábamnál, amikor a combjaim
      lazítása volt a ringatással.<br /><br />

      Gyönyörű szép sötétkék fényt láttam, mint amilyen a Gyógyító Buddha színe
      és érdekes hogy ilyen színeket láttam, de ez volt. Majd türkizkéket, aztán
      átment a szín neonzöldbe.<br /><br />

      Ezek tényleg a gyógyulás színei, de persze mindvégig csukott szemmel
      láttam vagy éreztem ezeket.<br /><br />

      A jobb lábammal van egy problémám, s ennek ringatásakor azt éreztem hogy
      köhögnöm kell és mikor köhintettem egyet-kettőt, utána rögtön kiment a
      feszültség abból a lábamból és jött egy ilyen mondat a fejembe, hogy: nem
      kell az, nem kell annak ott fájni. És elmúlt a fájdalom és most nem is
      fáj.<br /><br />

      Aztán valahogy figyelmes lettem Lucienre, s gondolkoztam picit, hogy ez
      milyen nehéz munka lehet neki, s mikor rá figyeltem, azt éreztem, hogy
      nagyon megtartó, szerény, nagyon kedves, kíváncsi és gyógyító szándékot
      éreztem felőle, s egy segítő energiát, ami az alázattal van
      összefüggésben, de úgy, hogy támogatóan segítve, megtartva vár, bevár…<br /><br />

      Aztán még láttam színeket 🙂, amikor feljebb ment a karomon illetve a
      vállamnál, akkor fehér és arany fény vakított a csukott szemeimen át.<br /><br />

      Nagyon nagy ellazulás volt, és utólag visszagondolva, olyan volt, mintha
      egy óvó, óriási tenyéren lennék.<br /><br />

      A masszázs szó furcsa amúgy, mert ez nem olyan, mint egy tipikus masszázs,
      hanem nagyon nagyon finom. Lehet az is, hogy én vagyok túl érzékeny a
      többi masszázsra, de nekem ez csodálatosan jó volt. Azaz csudálatosan jó.
      🙂<br /><br />

      És amikor már azt éreztem hogy elszállok, annyira laza vagyok és nemtom
      hol járok az arany fényben, akkor Lucien megérintette a fejemet, s
      hirtelen vissza találtam a testembe, vissza a Földre, leföldelődtem és
      utána azt éreztem hogy, nagyon erős vagyok.<br /><br />

      Tehát nem azt éreztem, hogy le vagyok relaxálva és hú, de laza vagyok,
      hanem egy olyan erőt éreztem, egy belső erőt, hogy erős vagyok és ez
      nagyon érdekes volt.<br /><br />

      Végezetül a hasam volt ringatva vagy rezegtetve, nagyon óvatos
      mozdulatokkal és ez annyira jó volt, és eddig ezt így szerintem soha senki
      51 év alatt nem érintette két tenyérrel a hasamat és nem az volt a
      reakcióm hogy jaj csikis, hanem tisztára, mint egy macska, aki a kandalló
      előtt elnyúlva fekszik vagy napozik egy napos sávban a szőnyegen és
      simogatják a hasikáját és az volt a nagyon érdekes, hogy elaludtam! Ezen a
      ponton, délelőtt fél tizenkettőkor, egy vadidegen emberrel, egy vadidegen
      helyen!<br /><br />

      Ez mindent elmond szerintem erről a technikáról, hogy annyira elengedtem
      magam, átadtam magam ennek az energiának, hogy elaludtam és ez
      csodálatos.<br /><br />

      Utána leült mellém Lucien, fogta a kezemet amíg még lecsengett az egész
      ringató masszázsnak nevezett csoda dolog, ami olyan, mint egy burok.<br /><br />

      Egy nagy burokban éreztem magunkat, magamat, mint egy nagy tojásban, ahol
      ugyan hallottam a madárcsicsergést meg, hogy füvet nyír a szomszéd, de
      valahogy a burokban voltam, ahol gyógyulok és béke van és bizalom és újra
      azt éreztem, hogy minden oké.<br /><br />

      Lucien, Te mondtad, hogy olyan ez neked, mint egy meditáció, tényleg olyan
      volt.<br /><br />

      Annyira szép energiák voltak: ez a segítő-gyógyító-türelmes-időt
      adó-megtartó.<br /><br />

      A masszázs után is ugyanez volt, de valahogy érezhetően lezárult, mikor
      befejezted a szándékot.<br /><br />

      Nagyon nagyon nagyon köszönöm, mert nagyon szép volt az egész és utána
      egész nap még most éjjel fél tizenkettőkor is olyan békés, jó érzésem van,
      újra visszataláltam önmagamhoz, minden jó úgy, ahogy van, minden a
      legnagyobb rendben van.<br /><br />

      Köszönöm szépen!<br /><br />

      Nagyon hálás vagyok Neked és nagyon örülök hogy megtaláltalak és nagyon
      szépen köszönöm hogy ott lehettem.<br /><br />

      És a vers:<br /><br />

      Földes Lívia: Isten tenyerén ébredtem<br /><br />

      Isten tenyerén ébredtem, s lenéztem a Földre,<br />
      Hófehér csúcsokra, kopár legelőkre.<br />
      Kanyargós folyók tükrében láttam kelni a Napot,<br />
      Sugaraiban álmos hajnal mosakodott.<br />
      Láttam az óceánt gyermekként ragyogni<br />
      Sirályokat felette felhőkkel táncolni,<br />
      Láttam a békét az emberek szívében,<br />
      Láttam az erdőket fürödni a fényben.<br />
      Láttam sok-sok mosolyt és láttam a reményt,<br />
      Láttam az embert, és láttam a zenét,<br />
      Láttam a földet szeretetben élni,<br />
      Láttam a csöndet a széllel zenélni.<br />
      Láttam Istent amerre csak néztem,<br />
      Miközben éppen az Ő tenyerében ültem,<br />
      S az Ő hangján szólt hozzám a szél,<br />
      Mint anya, ki gyermekének mesél,<br />
      Millió apró tükörben láthatod magadat,<br />
      Hisz olyannak látod a világot, amilyen Te vagy!"
    </span>
    <span class="testimonial-author">(N. Anita)</span>
  </div>

  <div id="szkinga" class="testimonial-block">
    <span class="testimonial-title">Kinga</span>
    <span class="testimonial-service"
      ><a routerLink="/methods/holistic-pulsing">Ringatás</a></span
    >
    <span>
      "Egy ideje keresem az utam ahhoz a belső nyugalomhoz amit gyermekkoromban
      mindenféle erőfeszítés nélkül el tudtam érni csupán azzal a befelé
      fordulással, amit a rohanó világban már egyre kevesebbszer tudtam
      megtenni. Mostanra majdnem teljesen elveszítettem a kapcsolatom ezzel a
      belső 'emberkével'.<br /><br />

      Amikor megérkeztem a
      <a href="https://csudahely.hu/" target="_blank" class="text-gold"
        >Csudahelyre</a
      >, már a környezettől is elállt a szavam. Hihetetlen szép hely…. Nem csak
      a neve, valóban egy csoda ami az ember szeme elé tárul.<br /><br />

      Aztán a Veled való beszélgetés és az azt követő ringató masszázs alatt,
      újra el tudtam érni azt a nyugalmat ami segíthet visszatalálni önmagamhoz
      és újraépíthetem a világom a gondolataim által. Rengeteg elképzelés volt a
      fejemben hogy mi vár rám a kezelés alatt-után de erre nem lehet
      felkészülni vagy egyszerűen szavakkal leírni.<br /><br />

      A feszültség és káosz ami mostanában bennem van, ez alatt az egy óra alatt
      eltűnt és egy mély nyugalom vette át a helyét, az aggodalmas gondolatok
      eltűntek, csupa színes kép, a gyermekkori álmaim, vágyaim kerültek
      felszínre.<br /><br />

      Hazafelé azon gondolkodtam, hogy tudnám megvalósítani a rég elfeledett
      terveimet, tele voltam és vagyok azóta is pozitív gondolatokkal és
      energiával. Szóval nem tudom, mit és hogyan varázsoltál de nagyon
      köszönöm!"
    </span>
    <span class="testimonial-author">(Sz. Kinga)</span>
  </div>

  <div id="bzita2" class="testimonial-block">
    <span class="testimonial-title">Zita</span>
    <span class="testimonial-service"
      ><a routerLink="/methods/holistic-pulsing">Ringatás</a></span
    >
    <span>
      “Teljes regenerálódást éreztem. Gyengéden átmasszíroztad a belső szerveim.
      Láttam, ahogy a testemből buborékokként távoztak el és oszlottak szét
      azok, amik gátolnak a teljes harmónia megélésében. Közben felébredt bennem
      egy vágy, hogy emlékezzem az apukámra. Ugyanis semmi emlékem nincs róla, a
      vele való gyerekkori kapcsolatomról, de ez eddig nem foglalkoztatott.
      Olyan volt az egész, mint amikor felhangolják a hamissá vált húrokat a
      gitáron.”
    </span>
    <span class="testimonial-author">(B. Zita)</span>
  </div>

  <div id="bzita1" class="testimonial-block">
    <span class="testimonial-title">Zita</span>
    <span class="testimonial-service"
      ><a routerLink="/methods/holistic-pulsing">Ringatás</a></span
    >
    <span>
      “Magamhoz tértem. Bár még mindig lüktetnek a sejtjeim. Fürdött a lelkem,
      iszonyúan kitágító, felpezsdítő, nyugtató, lazító. Nagyon jó, hogy
      belefogtál. Nagyon ütős és gondolom ehhez a te energiáid is kellenek.
      Köszi még egyszer! &#x2665;&#xfe0f;”
    </span>
    <span class="testimonial-author">(B. Zita)</span>
  </div>
</main>
