<span class="text-4xl mt-10 mb-20 text-center text-gold"
  >Klienseim mondták</span
>
<main class="text-justify mb-24">
  <div class="testimonial-block">
    <span class="text testimonial-text">
      "Egy ideje keresem az utam ahhoz a belső nyugalomhoz amit gyermekkoromban
      mindenféle erőfeszítés nélkül el tudtam érni csupán azzal a befelé
      fordulással, amit a rohanó világban már egyre kevesebbszer tudtam
      megtenni. Mostanra majdnem teljesen elveszítettem a kapcsolatom ezzel a
      belső 'emberkével'.<br /><br />

      Amikor megérkeztem a
      <a href="https://csudahely.hu/" target="_blank" class="text-gold"
        >Csudahelyre</a
      >, már a környezettől is elállt a szavam. Hihetetlen szép hely…. Nem csak
      a neve, valóban egy csoda ami az ember szeme elé tárul.<br /><br />

      Aztán a Veled való beszélgetés és az azt követő ringató masszázs alatt,
      újra el tudtam érni azt a nyugalmat ami segíthet visszatalálni önmagamhoz
      és újraépíthetem a világom a gondolataim által. Rengeteg elképzelés volt a
      fejemben hogy mi vár rám a kezelés alatt-után de erre nem lehet
      felkészülni vagy egyszerűen szavakkal leírni.<br /><br />

      A feszültség és káosz ami mostanában bennem van, ez alatt az egy óra alatt
      eltűnt és egy mély nyugalom vette át a helyét, az aggodalmas gondolatok
      eltűntek, csupa színes kép, a gyermekkori álmaim, vágyaim kerültek
      felszínre.<br /><br />

      Hazafelé azon gondolkodtam, hogy tudnám megvalósítani a rég elfeledett
      terveimet, tele voltam és vagyok azóta is pozitív gondolatokkal és
      energiával. Szóval nem tudom, mit és hogyan varázsoltál de nagyon
      köszönöm!"
    </span>
    <span class="testimonial-author">Sz. Kinga</span>
  </div>

  <div class="testimonial-block">
    <span class="text testimonial-text">
      “Teljes regenerálódást éreztem. Gyengéden átmasszíroztad a belső szerveim.
      Láttam, ahogy a testemből buborékokként távoztak el és oszlottak szét
      azok, amik gátolnak a teljes harmónia megélésében. Közben felébredt bennem
      egy vágy, hogy emlékezzem az apukámra. Ugyanis semmi emlékem nincs róla, a
      vele való gyerekkori kapcsolatomról, de ez eddig nem foglalkoztatott.
      Olyan volt az egész, mint amikor felhangolják a hamissá vált húrokat a
      gitáron.”
    </span>
    <span class="testimonial-author">Z. Bernadett</span>
  </div>

  <div class="testimonial-block">
    <span class="text testimonial-text">
      “Magamhoz tértem. Bár még mindig lüktetnek a sejtjeim. Fürdött a lelkem,
      iszonyúan kitágító, felpezsdítő, nyugtató, lazító. Nagyon jó, hogy
      belefogtál. Nagyon ütős és gondolom ehhez a te energiáid is kellenek.
      Köszi még egyszer! &#x2665;&#xfe0f;”
    </span>
    <span class="testimonial-author">B. Zita</span>
  </div>
</main>
