@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: teal;
  /* #008080 | rgb(0,128,128) */
  --secondary: #FFD700; /* yellow */
}

html,
body {
  height: 100%;
  margin: 0;
  background: teal;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Dialog backdrop styling */
.dialog-backdrop {
  background-color: white !important;
  /* opacity: 1 !important; */
}

.video-dialog {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

