@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-light bg-zinc-900;
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dialog-backdrop {
  @apply bg-zinc-900;
}

.video-dialog {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

