<span class="text-4xl my-10 text-center text-gold">Érzelmi Oldás</span>
<span class="text">
  Az Érzelmi Oldás technikáját az alábbi szakértők és a saját tapasztalataim
  alapján fejlesztem a 2000-es évek elejétől kezdve.
</span>
<div class="grid grid-cols-1 md:grid-cols-3 gap-8 my-5 justify-items-center">
  <div class="flex flex-col items-center">
    <img
      src="assets/dr-michael-newton.png"
      alt="Dr. Michael Newton"
      class="w-48 h-48 object-cover rounded-md shadow-lg mb-3"
    />
    <span class="text-lg text-gold">Dr. Michael Newton</span>
    <span class="text-base">pszichológus, író</span>
  </div>
  <div class="flex flex-col items-center">
    <img
      src="assets/cannon-dolores.jpg"
      alt="Cannon Dolores"
      class="w-48 h-48 object-cover rounded-md shadow-lg mb-3"
    />
    <span class="text-lg text-gold">Cannon Dolores</span>
    <span class="text-base">hipnoterapeuta, író</span>
  </div>
  <div class="flex flex-col items-center">
    <img
      src="assets/dr-edith-fiore.png"
      alt="Dr. Edith Fiore"
      class="w-48 h-48 object-cover rounded-md shadow-lg mb-3"
    />
    <span class="text-lg text-gold">Dr. Edith Fiore Ph.D.</span>
    <span class="text-base">pszichológus, író</span>
  </div>
</div>
<main class="text-justify mb-10">
  <span class="highlight">A módszer</span>
  <span class="text">
    Az Érzelmi Oldás egy olyan univerzális technika, amellyel klienseimmel
    dolgozom, de az egyszerűbb verzióját meg is tudom neked tanítani, így
    önmagadon, segítő nélkül is dolgozhatsz vele. A 2000-es évek elején kezdtem
    el összerakni, majd több száz óra saját és kliens élmény után workshopokon
    tanítottam meg az érdeklődőknek. A módszer sok-sok év használat után is
    finomodik, minden egyes alkalomból és a szakma nagyjaitól is folyamatosan
    tanulok.
    <br /><br />
    <div class="flex justify-center">
      <img
        src="assets/regression-sofa.jpg"
        alt="Érzelmi Oldás"
        class="rounded-md mb-5"
      />
    </div>
    Az alkalmak, amelyeket "ülésnek" hívunk, általában 1-1,5 óra hosszúak.
    Relaxált, mély, de éber állapotban dolgozunk, így mindenre pontosan
    emlékszel majd az ülés után. A technika teljesen biztonságos, elrontani,
    "beleragadni", kárt okozni vele nem lehet. A regressziós (azaz a
    visszatérési/emlékezési) képesség mértéke mindenkinél más, de gyakorlattal
    (legtöbbször már az első alkalommal is) mindenki eljut azokhoz az
    eseményekhez, amelyeket fel kell dolgoznia a továbblépéshez.
    <br /><br />
    Az, hogy hány ülésre lesz szükséged, a megfogalmazott céltól és a
    szembenézésed (oldódás) hatékonyságától függ, noha a használt technikák
    erőteljes volta miatt ez nem hosszú folyamat, általában maximum 2-3 alkalom.
    <br /><br />
    A folyamatok során sok esetben olyan történésekre derül fény, amire álmodban
    sem gondoltál volna, és amelyek sokszor egész életedet - teljesen
    láthatatlan módon - meghatározták. Néha a szemeim előtt egy röpke óra
    leforgása alatt 20 éve fennálló állapotok oldódnak fel. Megdöbbentő ezt
    átélni!
  </span>

  <span class="highlight">Miben segíthet?</span>
  <br />
  <span class="ml-5 mb-5">Íme néhány példa.</span>
  <div class="flex gap-8 items-start">
    <ul class="flex-1 mx-5 list-disc">
      <img
        src="assets/healing-heart.jpg"
        alt="Érzelmi Oldás"
        class="float-right ml-8 rounded-md mb-5"
      />
      <li>egy-egy mélyrehatóbb kérdésre megtalálni magadban a választ</li>
      <li>
        egy trauma, veszteség, haláleset hatását oldani (baba elvesztése,
        vetélés is)
      </li>
      <li>
        egy zavaró szokásod, egészségügyi kihívásod lehetséges lelki okait
        felfedezni
      </li>
      <li>
        egy „se-veled-se-nélküled" kapcsolat mozgatórugóira rálátni és oldani
        azokat
      </li>
      <li>
        megmagyarázhatatlan szorongásodat megérteni, csökkenteni, esetleg meg is
        szüntetni
      </li>
      <li>szerelmi fájdalmad, szakításod enyhíteni</li>
      <li>gyászfolyamatodat segíteni</li>
      <li>tisztán látni bizonyos belső kérdésekben</li>
      <li>továbblépni</li>
    </ul>
  </div>
  <br />

  <span class="highlight">Öt megközelítés, egy cél</span>
  <span class="text"
    >Ahogy az évek során mélyült a tudásom és gyűltek a tapasztalatok,
    egyértelművé vált, hogy az "egy-technikában-gondolkozás" a
    szuper-maximalista szakmai hozzáállásom számára nem kielégítő, így az
    Érzelmi Oldás mára öt, egymástól különböző, de a használat során "összeért"
    megközelítést használ. <br /><br />
    Annak ellenére, hogy a legfontosabb eszközök már régen a tarsolyomba
    kerültek, továbbra is éberen figyelem a fejlődés lehetőségét. Az alábbiakban
    bemutatom neked ezt az öt megközelítést.
  </span>

  <span class="highlight">1. Traumaoldás</span>
  <div class="text">
    <img
      src="assets/healing-trauma.jpg"
      alt="Traumaoldás"
      class="float-left mr-8 mb-5 rounded-md"
    />
    A hagyományos regressziós megközelítéssel életed egy-egy korábbi részéhez
    "térsz vissza", majd az élményeket újra átélve feloldod az ott elraktározott
    feszültséget és fájdalmat. E megközelítés (alternatív
    pszichológia/pszichoterápia) elegendő lehet például egy haláleset vagy egy
    gyermekkori trauma feldolgozásához. Azonban az esetek nagy részében ez vagy
    nem elég a teljes oldódáshoz, vagy van még több információ a háttérben, amit
    valamiért még szükséges felfednünk. Így sokszor maga a folyamat diktálja,
    hogy továbbhaladjunk, vissza az időben…<br /><br />
    Előre sosem tudható, hogy milyen élmények jönnek majd fel. Bízunk a
    tudatalattid bölcsességében, hiszen ő pontosan tudja, mely történésekkel
    vagy képes már szembenézni, és ezeket szolgálatkészen, kis noszogatásra,
    általában eléd is tárja.<br /><br />
    <span class="text-gold font-normal">Fontos:</span> Az ülésekben olyan emlék
    is feljöhet, olyan információra is fény derülhet, amelynek valóságtartalma
    (egyelőre) teljesen irreális számodra. Egyszerűen nem tudod elképzelni, hogy
    valóban megtörtént – noha nagy eséllyel azért ezt a lelked mélyén érezni
    fogod. A jó hír, hogy a feljövő információk valóságtartalma egyáltalán nem
    számít! Ha nem is hiszed el, hogy ami emlékként feljön, az ténylegesen Veled
    történt, a módszer akkor is működik. Maradandó és pozitív változások
    állhatnak be a szembenézés hatására.
  </div>

  <span class="highlight">2. A születés-élmény, előző életek, köztes lét</span>
  <span class="text"
    >Ma már tény, hiszen több ezer esetleírás és rengeteg tanulmány bizonyítja,
    hogy az elme pillanatról pillanatra minden belső történést és külső
    érzékelést rögzít, és regresszióban az élményeink visszaidézhetők és
    újraélhetőek.<br /><br />
    Íme a legfontosabb eseménytípusok (időben visszafelé), amelyekkel az
    ülésekben rutinszerűen találkozunk:
  </span>
  <div>
    <img
    src="assets/fetus.jpg"
    alt="Születés előtti élmény"
    class="float-right ml-8 mt-1 mb-2 rounded-md w-[400px]"
  />
    <ul class="mx-5 list-disc">
      <li>gyermekkorod</li>
      <li>a születésed</li>
      <li>
        az életed édesanyád hasában, az ő (vagy akár apukád) érzései,
        gondolatai, beszélgetések, történések a külvilágban, legyenek ezek
        pozitívak vagy negatívak számodra
      </li>
      <li>
        megérkezésed anyukád méhébe, az új kis testkezdeménybe – lélekként
      </li>
      <li>
        maga a „leszületés", azaz az elválás a "szellemvilágtól" és az út a
        Földre
      </li>
      <li>a két földi élet között eltöltött létezés, a "köztes lét"</li>
      <li>előző életeid …</li>
    </ul>
  </div>
  <br />
  <span class="text">
    Itt megjegyezném, hogy az emlékek néha olyan erősen törnek fel, hogy
    teljesen úgy érzed, mintha "ott" lennél és az esemény "most" történik.
    Hirtelen egy színes-szagos, 3D-s moziban találod magad, amelyben ráadásul Te
    vagy a főszereplő. Természetesen ez az átélési szint személyenként és
    eseményenként változhat, így legjobb mindenféle önmagunkkal támasztott
    elvárások nélkül belemenni egy ilyen folyamatba.
    <br /><br />
    Ehhez a megközelítéshez a legtöbbet Dr. Michael Newtontól tanultam
    (pszichoterapeuta, a Life Between Lives módszer kifejlesztője, a Lelkünk
    Útja könyvek szerzője). Ennek a technikának nincs köze a Pránanadi
    „utaztatás" technikájához, bár az eredmény hasonló lehet.
  </span>

  <span class="highlight">3. Kommunikáció a „tudatfelettiddel"</span>
  <div class="text">
    <img
    src="assets/inner-communication.jpg"
    alt="Belső kommunikáció"
    class="float-left mr-8 mt-1 mb-2 rounded-md"
  />
    Ha szeretnél mélyebb "önmagadhoz" kapcsolódni, ha életed alapkérdéseire
    vársz választ, ez a technika segíthet, hiszen ebben a nagyon mély állapotban
    rendkívül tisztán jön az információ, és önmagad határtalan
    intelligenciájával is könnyebben kapcsolódhatsz.
    <br /><br />
    A módszer neve Quantum Healing Hypnosis Technique, szülőanyja pedig a
    legendás pszichoterapeuta, Cannon Dolores.
  </div>

  <span class="highlight">4. „Entitások"/itt ragadt lelkek eltávolítása</span>
  <div class="text">
    <img
      src="assets/entity.webp"
      alt="Entitások eltávolítása"
      class="float-right ml-8 mt-1 mb-2 rounded-md w-[300px]"
    />
    Ez a téma legtöbbünk számára teljesen irreális, ha azonban hangokat,
    sugallatokat hallasz, ha a gondolataidat és érzéseidet nem érzed sajátodnak,
    ha két vagy több, egymástól teljesen különböző személyiséggel rendelkezel,
    ha éles hangulatváltozásaid vannak, akkor pontosan tudod, hogy miről van
    szó. A megoldásnak két lépése van és egyik sem működik a másik nélkül:
  </div>
  <ol class="mt-5 mx-5 list-decimal">
    <li>
      A "rajtad", azaz a „teredben" lévő (általában nem jó szándékú) entitások
      vagy Földön ragadt lelkek, (zavarodott, nem ártó szándékú, pl. egy itt
      maradt, hozzád ragaszkodó rokon) „eltávolítása".
    </li>
    <li>
      Az ajtó(k), azaz az energetikai sérülés(ek) bezárása. Más szóval annak az
      oknak a kezelése, hogy ez egyáltalán megtörténhetett veled. Meg kell
      gyógyítanunk a lelked sérült részeit és meg kell szabadulnod a
      félelmeidtől. Ezt terápiás megközelítéssel, konzultációkkal,
      személyiségfejlesztő gyakorlatokkal és gyakorlati, az életedben elvégzendő
      feladatokkal és változtatásokkal érjük el.
    </li>
  </ol>
  <br />
  <span class="text">
    A számomra hiteles tanító ezen kevéssé ismert területen Dr. Edith Fiore
    klinikai szakpszichológus volt.
  </span>

  <span class="highlight">5. Búcsú egy hozzátartozótól</span>
  <div class="text">
    <span class="text-gold font-normal"
      >/ A múlt „átírása". Elköszönés, megbocsátás, kommunikáció. /</span
    >
    <br /><br />
    <img
    src="assets/farewell.jpg"
    alt="Búcsú egy hozzátartozótól"
    class="float-left mr-8 mt-1 mb-2 rounded-md w-[330px]"
  />
    A Családállítás módszerében is általános cél, hogy legyen valamiféle
    katarzis, azaz ha fény derül egy múltbéli lezáratlanságra, akkor az oldódjon
    meg az állításban, ott és akkor. Ennek az alapelvnek a használatára egy
    példa módszeremben egy olyan hozzátartozótól való elbúcsúzás, akivel
    halálának hirtelensége/természete, vagy a földrajzi távolság miatt ez nem
    történhetett meg. A csodálatos hír, hogy ez üléseinkben megtörténhet!
    <br /><br />
    Mély, relaxált állapotban felveheted velük a kapcsolatot. Visszatérhetsz
    például egy valós közös eseményhez és azt "átírhatod" a jelenben:
    elköszönhetsz, megbeszélhetsz velük lezárandókat, és így megtörténhet a
    megbocsátás, az elengedés.
    <br /><br />
    Ez tényleg szinte már „science fiction", és igen, nagyon megdöbbentő ezt
    először megélni. Megtapasztalni azt, hogy a) bárkivel bármikor
    kommunikálhatunk, és b) a térben minden, azaz minden múltbeli információ
    létezik, örökre, és ez a megfelelő technikával számunkra hozzáférhető!
  </div>

  <span class="highlight">Néhány esetem leírása</span>
  <div class="text">
    <span class="text-gold font-normal">Se veled, se nélküled kapcsolat</span
    ><br />
    <img
    src="assets/past-life.webp"
    alt="Se veled, se nélküled kapcsolat"
    class="float-right ml-8 my-2 rounded-md w-[350px]"
  />
    Egy pár nem tud elszakadni egymástól. Se veled, se nélküled állapotban
    léteznek úgy, hogy elvileg már nincsenek is együtt. Egyikük ülésében derül
    rá fény, hogy egy korábbi életükben, az 1700-as években, anya-gyermek
    kapcsolatban éltek, amelyben az anya (a jelenlegi nő) tragikus körülmények
    között vesztette el csecsemő gyermekét (a jelenlegi férfit). Noha akkor a
    kisbaba akkor a halála előtti pillanatokban telepatikusan elbúcsúzott tőle,
    az anya azonban sosem tudta igazán elengedni. A jelenlegi életükben ezért
    minden elválást vagy annak még csak a gondolatát is mindketten ugyanazzal a
    mély fájdalommal élik meg, mint anno a tragédiát.<br /><br />
    <span class="text-gold font-normal">A féltékenység őrjítő fájdalma</span
    ><br />
    Egy férfi a féltékenység érzését minden esetben őrjítő fájdalommal éli meg.
    Regresszióban egy sok száz évvel ezelőtti tragédiára derül fény, amelyben
    hirtelen felindulásból vezérelve, őrült féltékenységében megfojtja a
    szerelmét. Ez az ambivalens élmény minden alkalommal bekapcsol, amikor
    féltékenységet érez a jelenlegi életében.<br /><br />
    <span class="text-gold font-normal">Bizonytalanság a párkapcsolatban</span
    ><br />
    Egy lány rendkívül nehezen kezeli a bizonytalanságot párkapcsolataiban. Az
    ülések során életek sora jön fel, ahol oda-vissza, kapja és okozza is ezt az
    érzést másoknak. A "karma", azaz tetteinek lendülete továbbra is ebben a
    körforgásban tartja.
    <br /><br />
    <span class="text-gold font-normal">"Mintha nem lennék önmagam"</span><br />
    Egy hölgynek sokszor furcsa érzései vannak, mintha „nem lenne önmaga".
    Intenzív „nyomozó munka" során az ülésben lassan fény derül rá, hogy az
    évtizedekkel korábban elhunyt nagypapája még vele, az aurájában él! Egy
    ilyen eset mindig nagyon megható a páciens, a „rajta ragadt" lélek és az én
    számomra is. Végül az ülés végén megtörtént az elengedés, és ezáltal a
    megkönnyebbülés is.
    </div>

  <span class="highlight">Szerelmi fájdalom, szakítás</span>
  <div class="text">
    <img
    src="assets/breakup.jpg"
    alt="Szakítás"
    class="float-left mr-8 mt-2 mb-10 rounded-md w-[350px]"
  />
    Érzelmi egyensúlyunk szempontjából egy szakítást akár úgy is megélhetünk,
    mint egy halálesetet. Ha nem vagyunk nagymértékben "egészek önmagunkban", ha
    függőségben élünk a másiktól (ha nem tudod nélküle elképzelni az életedet,
    akkor abban élsz), akkor ténylegesen úgy érezhetjük, hogy "nincs tovább",
    "összedőlt a világ". A szakítás ilyenkor egy szélsőségesen megélt, drámai,
    apatikus, pánikrohamokkal teli állapotba sodorhat minket. Más szóval úgy
    megrángat, mint semmi más. Ilyenkor szinte "életmentő" lehet egy-egy
    célzottan fájdalom enyhítésre kihegyezett ülés.
  </div>

  <span class="highlight">Személyes gyászom</span>
  <div class="text">
    <img
    src="assets/grieving.jpg"
    alt="Gyász terápia"
    class="float-right mb-10 rounded-md w-[350px]"
  />
    1994-ben testvérem hirtelen, tragikus körülmények között elhunyt. Ekkor már
    jó néhány éve foglalkoztam a lélek gyógyításának eszközeivel. Másnap délután
    egy terapeuta barátom felajánlotta a segítségét és a felfoghatatlan
    veszteség friss élménye által teljesen összetörve belekezdtünk a terápiás
    ülésbe. Hat óra múlva jöttem ki a szobából, az iszonyú tehertől
    megkönnyebbülve, újjászületett emberként. Mintha az életemet kaptam volna
    vissza.
    <br /><br />
    A veszteség "feldolgozása" nem azt jelenti, hogy a szeretet elmúlik vagy
    hogy többé nem fog fájni, ha a másikra gondolunk. Egy ilyen seb örökre
    meghatároz minket és néha egy egész élet nem elég a gyógyuláshoz. Viszont
    például az én esetemben ez az egy, 6 órás ülés nagy mértékben enyhíteni
    tudta az óriási negatív érzelmi terhet és elérte, hogy
    <span class="text-gold">képes legyek tovább élni.</span> Egyszóval
    visszakaptam általa az életenergiámat és ez lehetővé tette, hogy ellássam a
    mindennapi feladataimat és képes legyek édesanyámat támogatni a bajban.
    <br /><br />
    Ez az ülés sok szempontból életem egyik legmeghatározóbb eseménye volt.
    Megmutatta, hogy igenis lehetséges
    <span class="text-gold">"felgyorsítani"</span> a gyász folyamatát, nem kell
    akár évekig szenvednünk! Úgy érzem, felelősségem ezt az üzenetet átadnom
    azáltal, hogy megadom ugyanezen tapasztalás lehetőségét az érdeklődőknek.
  </div>

  <span class="highlight">Előző életek: tény vagy fikció?</span>
  <div class="text">
    <img
    src="assets/past-lives.webp"
    alt="Előző életek"
    class="float-left mb-2 mt-1 mr-8 rounded-md w-[400px]"
  />
    Az "előző" életek, a reinkarnáció azok a témák, amelyekről szerintem totál
    felesleges vitázni, vagy elmélkedni. Egy szakember segítségével "térj
    vissza", legyen saját tapasztalatod, s mindjárt (és végérvényesen) másképp
    látod majd a témát, hiszen lesz „saját élményed".
    <br /><br />
    Nagyon érdekes, hogy a regresszió során néha milyen gyorsasággal és
    hirtelenséggel bukkannak fel a jelenlegi életünkbe teljességgel nem illő
    képek, és ez egy-két ülésen belül szinte minden pácienssel megtörténik. És a
    mi szempontunkból tényleg nem igazán lényeges, hogy miben hiszünk, vagy mit
    gondolunk a témáról. Például a fentebb említett Dr. Edith Fiore is elmondta,
    hogy több száz ülés után sem teljesen biztos az előző életek létezésében.
    Szóval nem a hitünk számít.
    <br /><br />
    Az ülések során megjelenő és megélt érzések, képek és események felhozása
    tényleges, végleges változást hozó, pozitív hatással van életünkre, s ez itt
    a kulcs! A mély fájdalmak, érzések, az éles, néha szinte filmszerű képek, a
    megkönnyebbülés és a jelenünkre ható felismerések létezését egyszerűen nem
    lehet megkérdőjelezni. Utána meg majd szépen eldöntöd, hogy milyen
    hitrendszert formálsz róla magadban. Ez a te magánügyed.
    <br /><br />
    Az én valóságom az, hogy mindannyiunk magával hordozza az egész időtlen
    létezését: az összes "előző" életéből származó fájdalmas és kellemes emléket
    is. Tehát itt vannak velünk most és hatással vannak ránk, aktivált vagy
    szunnyadó állapotban, akár tudatában vagyunk ennek, akár nem. De ne hidd el,
    járj utána!
    <br /><br />
    Az biztos, hogy még ha némelyeknek félelmetesnek is tűnhetnek ezek a témák,
    az öröm, amely kinyerhető egy-egy ilyen regressziós ülésből, felülír minden
    korábbi kétséget.
    <br /><br />
    <span class="text-gold"
      >Vannak jelenlegi, gyermekkori, születés előtti, előző életi, köztes
      létből vagy más entitásoktól származó láncaid?</span
    >
    <br /><br />
    Neked milyen válasz jelenik meg erre a kérdésre, ha mélyen magadba
    tekintesz?
    <br /><br />
    lucien del mar
  </div>
  <hr />
  <span class="text">
    Az Érzelmi Oldás nem helyettesíti a pszichológiai vagy orvosi kezelést, de
    kiegészítheti azt. Ha úgy érzed, hogy a problémád megoldásához
    pszichológusra van szükséged, akkor kérlek, keresd fel őt!
  </span>
</main>
